<mat-toolbar>
 <div class="footer" class="mt-2" fxFlex fxLayout="row" fxLayoutGap="10%">  
     <div fxFlex="30" >
        <img class="imgLogo"  src="assets/images/logoCSS.png" 
        height="55px" width="105px">
        <img src="assets/images/logoIPRES.png" 
        height="55" width="85"><br>
        <span>Portail au service de la securite sociale au Senegal</span>
    </div>
    <div fxFlex="30" fxLayout="column">
     <h5>Nos partenaires</h5>
     <span>APIX</span>
     <span>CNP</span>
     <span>Minitere du travail</span>
     <span>CNTS</span>
     <span>CSA</span>
     
    </div>
    <div fxFlex="30" fxLayout="column">
      <h5> Nos reseaux</h5> 
      <span>Nos agence</span>
      <span>CMS</span>
    </div>
</div>    
</mat-toolbar>
<!-- <mat-card>@CopyRight CSS 2020</mat-card>  -->
