



<div fxLayoutAlign="space-between center">
    <h1 mat-dialog-title>Changement de mon mot de passe</h1>
     <button mat-dialog-title mat-button class="close-icon" [mat-dialog-close]="true">
          <mat-icon color="warn">close</mat-icon>
      </button>
  </div>
    
    <div class="back_page">
        <div class="row card-ch-pw">
         <div class="col-md-12">
           <mat-card class="forgetPass mat-elevation-z8">
            <!--  <mat-card-header fxLayout="row">
               <h4 class="pt-2">Mot de passe oublie</h4>
             </mat-card-header> -->
            <br>
             <mat-card-content>
               <div class="row">
                 <div class="img-logo">
                   <img src="assets/images/logoCSS.png" height="40px" width="80px" alt="">
                   <img src="assets/images/logoIPRES.png" height="40px" width="80px" alt="">
                 </div>
               </div>
               <br><br>
               <div fxLayout="row">
               <form [formGroup]="changePasswordForm" fxLayout="column" fxFlex>
                  <mat-form-field appearance="outline" class="pl-5 pr-5">
                   <mat-label>Mot de passe actuel</mat-label>
                   <input type="password" matInput formControlName="currentPassword" required />
                   <mat-icon matSuffix>lock</mat-icon>
                   <mat-error>Renseignez ce champ</mat-error>
                 </mat-form-field>
                 <mat-form-field appearance="outline" class="pl-5 pr-5">
                   <mat-label>Nouveau mot de Passe</mat-label>
                   <input type="password" matInput formControlName="newPassword" required />
                   <mat-icon matSuffix>lock</mat-icon>
                   <mat-error>Entrer votre nouveau mot de passe</mat-error>
                 </mat-form-field>
                 <mat-form-field appearance="outline" class="pl-5 pr-5">
                   <mat-label>Confirmation mot de passe</mat-label>
                   <input type="password" matInput formControlName="repeatPassword" required/>
                   <mat-icon matSuffix>lock</mat-icon>
                   <mat-error>Confirmer le mot de passe</mat-error>
                 </mat-form-field>
                 <div fxLayout="column" class="pb-5" fxLayoutAlign="center center">
                   <button fxLayoutAlign="center" mat-raised-button (click)="changePassword()" class="submit-button1" aria-label="CONNEXION">
                    <mat-spinner *ngIf="loader" strokeWidth="2" [diameter]="34" ></mat-spinner> <span *ngIf="!loader">Envoyer</span> 
                   </button>
                 </div>
               </form>
             </div>
             </mat-card-content>
           </mat-card>
         </div>
         </div>
       </div>
  <div>
  

      
  