<mat-toolbar class="toolbar-header"> 
  <div class="container" fxFlex fxLayout="row" fxLayoutGap="10%">
  <div fxFlex="80%">
   <img src="assets/images/logoCSS.png" class="mt-2" height="50" width="100" alt="">
   <img src="assets/images/logoIPRES.png" class="mt-2" height="50" width="100" alt="">
  </div>
  <div *ngIf="checkConn" fxFlex="20%"  fxLayout="column" class="mt-2">
     <button  mat-button [matMenuTriggerFor]="menu" >
      {{nomUser}}  {{prenomUser}} 
     </button>
     <!-- <mat-icon class="keyboard">keyboard_arrow_down</mat-icon></button> -->
     <mat-menu #menu="matMenu">
       <button mat-menu-item (click)="goToProfil()"><mat-icon>person_outlined</mat-icon>Mon profil</button>
       <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>Deconnexion</button>
    </mat-menu>                           
  </div> 
</div>
</mat-toolbar> 
<mat-divider></mat-divider>
    <mat-drawer-container class="example-container mat-typography" autosize>
      <mat-drawer #drawer mode="side" disableClose="true" opened="true">
        <button mat-mini-fab (click)="isExpanded = !isExpanded" style="margin: 10px;">
          <mat-icon aria-label="Menu">menu</mat-icon>
        </button>
        <mat-nav-list>
          <mat-list-item>
            <mat-icon mat-list-icon>person</mat-icon>
            <h4 mat-line *ngIf="isExpanded">Immatrculation</h4>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>assignment</mat-icon>
            <h4 mat-line *ngIf="isExpanded">Declaration</h4>
          </mat-list-item>
          <mat-list-item (click)="openPaiementDialog()" >
            <mat-icon mat-list-icon>attach_money</mat-icon>
            <h4 mat-line *ngIf="isExpanded">Paiements</h4>
          </mat-list-item>
          <mat-list-item (click)="openDemandeAttestationDialog()">
            <mat-icon mat-list-icon>cached</mat-icon>
            <h4 mat-line *ngIf="isExpanded">Statut & Suivi demande</h4>
          </mat-list-item>
           <mat-list-item>
            <mat-icon mat-list-icon>folder_shared</mat-icon>
            <h4 mat-line *ngIf="isExpanded">Parametres</h4>
          </mat-list-item>
        </mat-nav-list>
      </mat-drawer>
      <div class="example-sidenav-content">
        <div fxLayout="column">
          <div class="container" fxLayoutAlign="start start">
             <h2  class="mt-2">Espace de l'employeur</h2>
          </div>  
          <mat-divider class="inset mb-2"></mat-divider>
          <div class="container"  fxLayout="row wrap" fxLayoutAlign="center">
            <mat-card fxFlex="80" class="empCard1 mt-3">
            <mat-card-content>
              <h4>Numero dossier: {{empInfo?.processFlowId}}</h4>
            </mat-card-content> 
            </mat-card> 
          </div>
          <div class="container" fxLayout="row wrap" fxLayoutAlign="center"  fxLayoutGap="5%">  
            <mat-card class="empCard mt-3">
              <mat-card-header><h4>Information employeur</h4></mat-card-header>
            <mat-card-content>  
              <div fxLayout="column wrap">
              <div>
              <span class="mt-2">Nom: {{empInfo?.firstName}}</span>  
              <span class="mt-2">Prenom: {{empInfo?.lastName}}</span>
            </div>
              <span class="mt-2">Numero identifiant:  {{empInfo?.numeroIdentifiant}}</span>
             <!--  <div *ngIf="employerType=='PVT'"> -->
              <span class="mt-2">Raison sociale:  {{empInfo?.raisonSociale}}</span>
              <!-- </div> -->
              <span class="mt-2">Numero dossier: {{empInfo?.processFlowId}}</span>
              <!-- <span class="mt-2">tauxAt:  {{empInfo?.tauxAT}}</span> -->
              <span class="mt-2">Telephone  <strong>{{empInfo?.telephone}}</strong></span> 
              <span class="mt-2">Quartier: {{empInfo?.qartier}}</span>
             
             </div>
              </mat-card-content>
            </mat-card>
            <mat-card class="empCard mt-3">
              <mat-card-header><h4>Statut & Document</h4></mat-card-header>
            <mat-card-content>  
              <div fxLayout="column wrap">
  
              <h3 class="mt-2">Statut du dossier : </h3>
    
          
                <span class="alert alert-dark mt-2"> <mat-spinner *ngIf="loaderStatutImmat" strokeWidth="2" [diameter]="34"></mat-spinner>{{statutCertImm}}</span>
               
                <h3 class="mt-2">Certificat d'immatriculation ( pdf ) </h3>
               <mat-spinner *ngIf="urlCertImmat === '' && statutCertImm != 'Votre demande est en cours de traitement'" trokeWidth="2" [diameter]="34"></mat-spinner>
               <span *ngIf="statutCertImm == 'Votre demande est en cours de traitement'" class="alert alert-dark mt-2">En attente de validation</span>
    
                <button *ngIf="urlCertImmat != ''" (click)="openViewPDFDialog('',urlCertImmat)" class="icon-file-dowload" mat-button> 
                  <mat-icon>cloud_download</mat-icon> Visualiser
                 </button>
             </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="container" fxLayout="row wrap"  fxLayoutGap="5%">  
            
          </div>
        </div>
      </div>
    </mat-drawer-container>
    <div>     
    </div>  
 
