<div>
  <app-header></app-header>
</div> 
<!--
  <div class="top_line">
    <mat-toolbar></mat-toolbar>
</div>
-->
   <div class="back_page">
   <div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="50" class="card mt-5">
      
       
        <mat-card-content>
          <br>
          <div class="row">
            <div class="img-logo">
              <img src="assets/images/logoCSS.png" height="40px" width="80px" alt="">
              <img src="assets/images/logoIPRES.png" height="40px" width="80px" alt="">
            </div>
          
          
          </div>
          <div class="row text text-center">
            <h4 class="col-md-12">Réinitialiser mon mot de passe</h4>
          </div>
          <div class="row">
             <p class="text">  Entrez votre email et nous vous enverrons un courriel contenant les instructions de réinitialisation de mot de passe.</p>
          </div>
          <br>
          <div fxLayout="row">
          <form [formGroup]="motPassOublForm"  fxLayout="column" fxFlex>
             <mat-form-field *ngIf="!isSend" appearance="outline" class="pl-5 pr-5">
              <mat-label>Votre adresse e-mail</mat-label>
              <input type="email" matInput formControlName="email" required />
              <mat-icon matSuffix>email</mat-icon>
              <mat-error>Email obligatoire</mat-error>
            </mat-form-field>
            <div fxLayout="column" *ngIf="!isSend" class="pb-5" fxLayoutAlign="center center">
              <button fxLayoutAlign="center" (click)="resetPassword()" mat-raised-button class="submit-button1" aria-label="CONNEXION">
                Envoyer
              </button>
            </div>
            <mat-form-field *ngIf="isSend" appearance="outline" class="pl-5 pr-5">
              <mat-label>Nouveau mot de passe</mat-label>
              <input type="password" matInput formControlName="password" required />
              <mat-icon matSuffix>lock</mat-icon>
              <mat-error>Confirmer votre mot de passe</mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="isSend" appearance="outline" class="pl-5 pr-5">
              <mat-label>Confirmer Mot De Passe</mat-label>
              <input type="password" matInput formControlName="passwordConf" required />
              <mat-icon matSuffix>lock</mat-icon>
              <mat-error>Confirmer le mot de passe</mat-error>
            </mat-form-field>
            <div fxLayout="column" *ngIf="isSend" class="pb-5" fxLayoutAlign="center center">
              <button fxLayoutAlign="center" mat-raised-button class="submit-button1" aria-label="CONNEXION">
                Réinitialiser
              </button>
            </div>
          </form>
        </div>


        </mat-card-content>
    </div>
    </div>
  </div>