


<div  fxLayoutAlign="space-between center">
    <h1 mat-dialog-title>Demande de Service</h1>
     <button mat-dialog-title mat-button class="close-icon" [mat-dialog-close]="true">
          <mat-icon color="warn">close</mat-icon>
      </button>
  </div>

  <!--
<div mat-dialog-content>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Chargement attestation de régularité">
            <form class="tab-create-dossier" [formGroup]="attestationForm">
                <div fxLayout="row" fxLayoutGap="5%">
                    <mat-form-field   appearance="outline">
                      <mat-label>Type identifiant</mat-label>
                      <mat-select formControlName="typeIdentifiant" required>
                        <mat-option value="NIN">Carte national d'identie</mat-option>
                        <mat-option value="PASS">Passport</mat-option>
                        <mat-option value="CDEAO">Carte CEDEAO</mat-option>
                      </mat-select>
                      <mat-error>Ce champ est obligatoire</mat-error>
                    </mat-form-field>
                    <mat-form-field   appearance="outline">
                        <mat-label>Identifiant</mat-label>
                        <input  matInput formControlName="identifiant" required/>
                       <mat-error>Ce champ est obligatoire</mat-error> 
                    </mat-form-field>
                    <button (click)="createAttestationregularite()" class="submit-button" mat-button>Valider</button>
                  </div>
                  
                </form>
        </mat-tab>
        <mat-tab label="Status">
            <div>
                Status du dossier d'attestation
            </div>
        </mat-tab>
        <mat-tab label="Visualiser l'attestation">
            <div>
              <br>
              <div class="content-wrapper">
                Lecteur pdf à implémenter
              </div>

            </div>
        </mat-tab>
      </mat-tab-group>
</div>
-->

<mat-accordion>
  <mat-expansion-panel [expanded]="step === 0" (opened)="panelOpenState = true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h6> ATTESTATION DE REGULARITE  </h6>
      </mat-panel-title>
      
    </mat-expansion-panel-header>
    

    <form class="tab-create-dossier" [formGroup]="attestationForm">
      <div fxLayout="row" fxLayoutGap="5%">
      
                <mat-form-field   appearance="outline">
                  <mat-label>Type identifiant</mat-label>
                  <mat-select formControlName="typeIdentifiant" required>
                    <mat-option value="SCI">NINEA</mat-option>
              
                  </mat-select>
                  <mat-error>Ce champ est obligatoire</mat-error>
                </mat-form-field>
                <mat-form-field   appearance="outline">
                    <mat-label>Numéro NINEA</mat-label>
                    <input  matInput formControlName="identifiant" required/>
                  <mat-error>Ce champ est obligatoire</mat-error> 
                </mat-form-field>
                <button (click)="createAttestationregularite()" class="submit-button" mat-button [disabled]="loader">Valider</button>
       
      </div>
    </form>
      
        <div class="file-label" fxLayout="row" fxLayoutGap="5%">
         <span> <mat-icon>picture_as_pdf</mat-icon> </span>
         <span class="first">  ATTESTATION DE REGULARITE   </span> 
       
         <p *ngIf="urlAtt != ''">
          <a href="{{ urlAtt }}" target="_blank">
         <button mat-button class="icon-file-dowload">
          <mat-icon>visibility</mat-icon> Télécharger  
         </button> 
        </a> 
        <a> 
         <button (click)="openViewPDFDialog('Attestation de régularité',urlAtt)" class="icon-file-dowload" mat-button> 
           <mat-icon>cloud_download</mat-icon> Visualiser 
          </button>
        </a>
        </p>
        
        </div>
        <div class="file-label" fxLayout="row" fxLayoutGap="5%">
          <span><mat-icon>crop_rotate</mat-icon> </span>
          <span class="first">  Statut   </span> 
          <mat-spinner *ngIf="loader" strokeWidth="2" [diameter]="34" ></mat-spinner>
          <span>{{statutAtt}}</span>

         </div>
        <hr>
       

 
       
  </mat-expansion-panel>


    
<!--
  <mat-expansion-panel [expanded]="step === 1" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
       <h6> CERTIFICAT D'IMMATRICULATION  </h6>
      </mat-panel-title>
      
    </mat-expansion-panel-header>
    <form *ngIf="!isIdDossierImmatPresent" class="tab-create-dossier" [formGroup]="immatForm">
      <div fxLayout="row" fxLayoutGap="5%">
      
                <mat-form-field   appearance="outline">
                    <mat-label>Id Dossier</mat-label>
                    <input  matInput formControlName="idDossier" required/>
                  <mat-error>Ce champ est obligatoire</mat-error> 
                </mat-form-field>
                <button (click)="createCertificatImmatriculation()" class="submit-button" mat-button [disabled]="loaderUrlImmat">Valider</button>
   
      </div>
    </form>
      
    <div class="file-label" fxLayout="row" fxLayoutGap="5%">
      <span> <mat-icon>picture_as_pdf</mat-icon> </span>
      <span>  CERTIFICAT D'IMMATRICULATION </span> 
      <mat-spinner *ngIf="loaderUrlImmat" strokeWidth="2" [diameter]="34" ></mat-spinner>
      <p *ngIf="urlImmat != ''">
        <a href="{{ urlImmat }}" target="_blank">
        <button mat-button class="icon-file-dowload">
          <mat-icon>visibility</mat-icon> Télécharger
        </button> 
        </a>
        
        <a>
        <button (click)="openViewPDFDialog('Certificat d\'immatriculation',urlImmat)" class="icon-file-dowload" mat-button> 
          <mat-icon>cloud_download</mat-icon> Visualiser
         </button>
        </a>
       </p>
     </div>
        <div class="file-label" fxLayout="row" fxLayoutGap="5%">
      <span><mat-icon>crop_rotate</mat-icon> </span>
      <span class="first">  Statut   </span> 
      <mat-spinner *ngIf="loaderStatutImmat" strokeWidth="2" [diameter]="34" ></mat-spinner>
      <span>{{statutImm}}</span>

     </div>
  </mat-expansion-panel>
-->
  
</mat-accordion>