


<div  fxLayoutAlign="space-between center">
    <h1 mat-dialog-title>Attestation de régularité</h1>
     <button mat-dialog-title mat-button class="close-icon" [mat-dialog-close]="true">
          <mat-icon color="warn">close</mat-icon>
      </button>
  </div>
 
<div mat-dialog-content>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Chargement attestation de régularité">
            <form class="tab-create-dossier" [formGroup]="attestationForm">
                <div fxLayout="row" fxLayoutGap="5%">
                    <mat-form-field   appearance="outline">
                      <mat-label>Type identifiant</mat-label>
                      <mat-select formControlName="typeIdentifiant" required>
                        <mat-option value="NIN">Carte national d'identie</mat-option>
                        <mat-option value="PASS">Passport</mat-option>
                        <mat-option value="CDEAO">Carte CEDEAO</mat-option>
                      </mat-select>
                      <!-- <mat-icon matSuffix>perm_identity</mat-icon> -->
                      <mat-error>Ce champ est obligatoire</mat-error>
                    </mat-form-field>
                    <mat-form-field   appearance="outline">
                        <mat-label>Identifiant</mat-label>
                        <input  matInput formControlName="identifiant" required/>
                       <!--  <mat-icon matSuffix>email</mat-icon> -->
                       <mat-error>Ce champ est obligatoire</mat-error> 
                    </mat-form-field>
                    <button (click)="createAttestationregularite()" class="submit-button" mat-button>Valider</button>
                  </div>
                  
                </form>
        </mat-tab>
        <mat-tab label="Status">
            <div>
                Status du dossier d'attestation
            </div>
        </mat-tab>
        <mat-tab label="Visualiser l'attestation">
            <div>
              <br>
              <div class="content-wrapper">
                Lecteur pdf à implémenter
              </div>

            </div>
        </mat-tab>
      </mat-tab-group>
</div>
