.cdk-overlay-pane{
  background-color: #999999;
}

.flex-container { display: flex;}
/*+++++++++++++++++++++++++++++++++++Customer Stepper++++++++++++++++++++++*/
.mat-autocomplete-panel.overflow-hidden {
  overflow: hidden !important;
  position: relative !important;

}

.mat-form-field-invalid .mat-hint {
  display: none;
}
.mat-form-field{
  min-width:  10%;
}
.mat-form-field-invalid .mat-hint {
  margin-top: 20px;
}

.mat-dialog-content{
 
  background-color: #f2f2f2;
  /* height: auto; */
  height: 800px;
}
.mat-dialog-title{
  color: #999999;
}


mat-horizontal-stepper{
  border-radius: 5px;  
  height: auto;
 }
::ng-deep .mat-step-header .mat-step-icon {
  background-color:#f2f2f2;
  color:#999999;
  border:2px solid  #d8d8d8;
  width: 30px;
  height: 30px;
}
 
::ng-deep .mat-step-header .mat-step-icon-state-done{
  background-color:rgb(14, 189, 8);
  color:#ffffff;
  border:none;
}
::ng-deep  .mat-step-header .mat-step-label{
color: #999999 !important;
}

::ng-deep .mat-horizontal-stepper-header {
    box-sizing: border-box;
    flex-direction: column-reverse !important;
    height: auto;
   
}
::ng-deep .mat-horizontal-stepper-header .mat-step-label {
    padding: 0px 0px 10px !important;
    font-size:12px;
}
::ng-deep .mat-horizontal-stepper-header-container{
  padding-top:30px;
}
  ::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: rgb(240, 60, 15)!important;
    color:#ffffff;
    border:none;
   }
   
   ::ng-deep .mat-step-header  .mat-step-label-selected{
    
    color: rgb(240, 60, 15)!important;
  }
    


 
  /*++++++++++++++++++++++++++++++++Customer Stepper++++++++++++++++++++++++++++++*/
                                        /*------End------*/
                                        
  /*++++++++++++++++++++++++++++++++Customer Input Fields+++++++++++++++++++++++++*/
    .mat-form-field{
    width: 50%;
     min-width: 25%; 
   }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color:#f8f8f8;
    border: #e6e6e6 1px solid;
    border-radius: 5px;
   } 
   ::ng-deep .mat-form-field.mat-focused .mat-form-field-outline {
    color: #999999!important;
    background-color: #ffffff;
   }
   ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
  }
   ::ng-deep .mat-form-field-appearance-outline.mat-focused 
   .mat-form-field-outline-thick {
   color: #999999!important;
   }
   ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: rgba(0,0,0,.6)!important;
   }
   ::ng-deep .mat-input-element {
    caret-color: rgba(0,0,0,.6)!important;
   }
   
/*++++++++++++++++++++++++++++++++Customer Input Fields+++++++++++++++++++++++++*/
                                   /*------End------*/

/*++++++++++++++++++++++++++++++++Laoder Spinner+++++++++++++++++++++++++++++++*/                        
   .center {
    position: absolute; 
    top: 50%;
    left: 50%; 
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); 
    z-index: 2000;
    background-color: #1818183a;
    height:100%;
    width:100%;
}

::ng-deep mat-progress-spinner{
 /*  top: 100px; */
 top:50%;
 left:50%;
}


/*++++++++++++++++++++++++++++++++Laoder Spinner+++++++++++++++++++++++++++++++*/
                              /*------End------*/
b{
color: #292929;
}
.report_infoFen{
  border:2px solid #f2f2f2;
  border-radius: 5px;
  padding:20px;
}
.report_infoEmpl{
  border:2px solid #f2f2f2;;
  border-radius: 5px;
  padding:20px;
}
.report_repLeagl{
  border:2px solid #f2f2f2;;
  border-radius: 5px;
  padding:20px;
  margin-top:20px;
}
.report_infoFen h5,.report_infoEmpl h5,
.report_repLeagl h5{
  color: #999999;
}
.icon{
  color: #999999;
}


h1{
  /* font-weight: 300; */
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
  font-size:25px;
}
h1:before{
  content: "";
  position: absolute;
  width: 20%;
  height: 1px;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid rgba(255, 66, 19, 0.822)!important;
}

::ng-deep .my-snack-bar {
  background-color: rgb(31, 139, 4);
  color: #E8EAF6;
}
::ng-deep .my-snack-bar1{
  background-color: rgb(187, 2, 18);
  color: #E8EAF6;
}
::ng-deep .mat-simple-snackbar-action button {
  color: white;
  }
  .mat-progress-spinner::ng-deep circle {
    stroke: rgb(240, 60, 15)!important;
   
  }
  .submit-button{
    background-color: rgb(255, 104, 49);
    color:#ffffff;
    display:inline-block;
    vertical-align:middle;
      width: 20%; 
     font-size:15px;
     color:#ffffff;
     height: 40px;
     border-radius: 25px ;
  }
  .submit-add-edit{
    background-color: #0aca04;
    color:#ffffff;
    width: 10%; 
    font-size:15px;
    color:#ffffff;
    height: 40px;
  }
  .addEmp{
    background-color: #0aca04;
  }  
  .addEmp mat-icon{
    color: #ffffff;
  }
  table{
    width: 100%;
  }
  table th{
    font-weight: bold;
    color:#999999;
     /* background-color: #f9f9f9;  */
  } 
   table td  .mat-mini-fab{
    max-width: 30px;
    max-height: 30px;
  }
  table td  .mat-icon{
   font-size: 14px;
  }
  table td  .mat-mini-fab{
  background-color: #f2f2f2;
  box-shadow: none;
  }
  table td  .edit{
    color: #0aca04;;
  }
  table td  .edit{
    color: #0aca04;;
  }
  table td  .delete{
    color: rgb(187, 2, 18);
  } 
  tr:nth-child(even){
    background-color:#f2f2f2;
    }
  .mat-mini-fab mat-icon{
    color:#ffffff;
  }
  .report_infoFen .back_report{
    background-color: #f6f6f6;
  }
  .report_infoEmpl .back_report{
    background-color: #f6f6f6;
  }
  .report_repLeagl .back_report{
    background-color: #f6f6f6;
  }
  .back_report b{
    font-weight: 500;
    color:#272727;
  }
  .back_report1 b{
    font-weight: 500;
    color:#272727;
  }
  ::ng-deep  .mat-divider {
    border-top-width:2px;
    border-top-color: #f0f0f0;
    border-top-style: solid;
    color:rgb(255, 104, 49);
}
.submit-button-small{
  background-color: rgb(255, 104, 49);
  color:#ffffff;
   width: 30%; 
  font-size:15px;
  color:#ffffff;
  height: 40px;
  border-radius: 25px ;
}
.submit-button-right{
  background-color: rgb(255, 104, 49);
  color:#ffffff;
   width: 100%; 
  font-size:15px;
  color:#ffffff;
  height: 40px;
  border-radius: 25px ;
}
.submit-secondary{
  background-color: #f2f2f2;
 /*  display:inline-block; */
 /*  vertical-align:middle; */
   font-size:15px;
   color:#999999;;
   height: 40px;
   border: 2px solid #d8d8d8;  
}
table{                  
  width: 100%;
}        
table th{
  font-weight: 500;
  color:#272727;
   /* background-color: #f9f9f9;  */
} 
 table td  .mat-mini-fab{
  max-width: 30px;
  max-height: 30px;
}
table td  .mat-icon{
 font-size: 14px;
}
table td  .mat-mini-fab{
background-color: #f2f2f2;
box-shadow: none;
}

tr:nth-child(even){
  background-color:#f2f2f2;
  }
.addSal{
  background-color: #f2f2f2;
}
.addSal mat-icon{
    color: #999999;
}
table td  .edit{
  color: #0aca04;;
}
table td  .edit{
  color: #0aca04;;
}
table td  .delete{
  color: rgb(187, 2, 18);
} 

::ng-deep .report_infoFen .mat-divider {
  display: block;
  margin: 0;
  border-top-width:2px;
  border-top-style: solid;
  color:rgb(255, 104, 49);
}

.btn-join-file{
  background-color:rgba(255, 66, 19, 0.822)!important;
}