
.cdk-overlay-pane{
  background-color: #999999;
}
.mat-dialog-content{

}
.flex-container { display: flex;}
/*+++++++++++++++++++++++++++++++++++Customer Stepper++++++++++++++++++++++*/
.mat-autocomplete-panel.overflow-hidden {
  overflow: hidden !important;
  position: relative !important;

}
.mat-form-field-invalid .mat-hint {
  display: none;
}
.mat-form-field-invalid .mat-hint {
  margin-top: 20px;
}

.mat-dialog-content{
 
  background-color: #f2f2f2;
  /* height: auto; */
  height: 800px;
}
.mat-dialog-title{
  color: #999999;
}

.submit-button{
  background-color: rgb(255, 104, 49);
  color:#ffffff;

   }
mat-horizontal-stepper{
  border-radius: 5px;  
  height: auto;
 }
::ng-deep .mat-step-header .mat-step-icon {
  background-color:#f2f2f2;
  color:#999999;
  border:2px solid  #d8d8d8;
  width: 30px;
  height: 30px;
}
 
::ng-deep .mat-step-header .mat-step-icon-state-done{
  background-color:rgb(14, 189, 8);
  color:#ffffff;
  border:none;
}
::ng-deep  .mat-step-header .mat-step-label{
color: #999999 !important;
}

::ng-deep .mat-horizontal-stepper-header {
    box-sizing: border-box;
    flex-direction: column-reverse !important;
    height: auto;
   
}
::ng-deep .mat-horizontal-stepper-header .mat-step-label {
    padding: 0px 0px 10px !important;
    font-size:12px;
}
::ng-deep .mat-horizontal-stepper-header-container{
  padding-top:30px;
}
  ::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: rgb(240, 60, 15)!important;
    color:#ffffff;
    border:none;
   }
   
   ::ng-deep .mat-step-header  .mat-step-label-selected{
    
    color: rgb(240, 60, 15)!important;
  }
    


 
  /*++++++++++++++++++++++++++++++++Customer Stepper++++++++++++++++++++++++++++++*/
                                        /*------End------*/
                                        
  /*++++++++++++++++++++++++++++++++Customer Input Fields+++++++++++++++++++++++++*/
    .mat-form-field{
    max-width: 45%;
    min-width: 45%;
   }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color:#f8f8f8;
    border: #e6e6e6 1px solid;
    border-radius: 5px;
   } 
   ::ng-deep .mat-form-field.mat-focused .mat-form-field-outline {
    color: #999999!important;
    background-color: #ffffff;
   }
   ::ng-deep .mat-form-field-appearance-outline.mat-focused 
   .mat-form-field-outline-thick {
   color: #999999!important;
   }
   ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: rgba(0,0,0,.6)!important;
   }
   ::ng-deep .mat-input-element {
    caret-color: rgba(0,0,0,.6)!important;
   }
   
/*++++++++++++++++++++++++++++++++Customer Input Fields+++++++++++++++++++++++++*/
                                   /*------End------*/

/*++++++++++++++++++++++++++++++++Laoder Spinner+++++++++++++++++++++++++++++++*/
                               
   .center {
    position: absolute; 
    top: 50%;
    left: 50%; 
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); 
    z-index: 2000;
    background-color: #1818183a;
    height:100%;
    width:100%;
}
::ng-deep mat-progress-spinner{
 /*  top: 100px; */
 top:50%;
 left:600px;
}
/*++++++++++++++++++++++++++++++++Laoder Spinner+++++++++++++++++++++++++++++++*/
                              /*------End------*/
b{
color: #292929;
}
.report_infoFen{
  border:2px solid #f2f2f2;
  border-radius: 5px;
  padding:20px;
}
.report_infoFen h5,.report_infoEmpl h5,
.report_repLeagl h5{
  color: #999999;
}
.icon{
  color: #999999;
}
.report_infoEmpl{

  border:2px solid #f2f2f2;;
  border-radius: 5px;
  padding:5px;
  margin-top:20px;
}
.report_repLeagl{
  border:2px solid #f2f2f2;;
  border-radius: 5px;
  padding:5px;
  margin-top:20px;
}
h1{
  /* font-weight: 300; */
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
  font-size:25px;
}
h1:before{
  content: "";
  position: absolute;
  width: 20%;
  height: 1px;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid rgba(255, 66, 19, 0.822)!important;
}
::ng-deep .my-snack-bar {
  background-color: rgb(31, 139, 4);
  color: #E8EAF6;
}
::ng-deep .my-snack-bar1{
  background-color: rgb(187, 2, 18);
  color: #E8EAF6;
}
::ng-deep .mat-simple-snackbar-action button {
  color: white;
  }
  .mat-progress-spinner::ng-deep circle {
    stroke: rgb(240, 60, 15)!important;
   
  }

    /* .overlay{
      height:100vh;
      width:100%;
      background-color:rgba(0, 0, 0, 0.286);
      z-index: 10;
      top: 0;
      left: 0;
      position: fixed;
      } */
      ::ng-deep    .mat-horizontal-stepper-header{
       /*  margin-bottom: 45px; */
      }
/*       ::ng-deep      .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before, [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::before { 
        border-top-width: 4px;
        border-top-color: blue;
      }
      
      ::ng-deep  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after, [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::after {
        border-top-width: 4px;
        border-top-color: blue;
      }
      
      ::ng-deep   .mat-stepper-horizontal-line {
        border-top-width: 4px;
        border-top-color: blue;
      } */