.creationCpt{
    background-color: #f2f2f2;
    height: 800px;
}
.mat-raised-button{
    width: 50%;
    background-color: rgb(255, 104, 49);
    color:#ffffff;
}

.creationCpte{ 
    margin-top:50px;
    padding: 0;
}

.creationCpte mat-card-header {
    background-color: rgb(255, 104, 49);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;  
}

mat-card-header h4{
    color:#ffffff;
}

.page_createCpt{
    color:#a5a5a5;
    margin-top:30px;
    margin-bottom: -40px;
}
mat-form-field{
    width: 100%;
}

mat-card{
    width: 60%;
    border:2px solid rgb(255, 104, 49);
    border-radius: 5px;
}



.mat-form-field{
    max-width: 50%;
    min-width: 50%;
   }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color:#f8f8f8;
    border: #e6e6e6 1px solid;
    border-radius: 5px;
   } 
   ::ng-deep .mat-form-field.mat-focused .mat-form-field-outline {
    color: #999999!important;
    background-color: #ffffff;
   }
   ::ng-deep .mat-form-field-appearance-outline.mat-focused 
   .mat-form-field-outline-thick {
   color: #999999!important;
   }
   ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: rgba(0,0,0,.6)!important;
   }
   ::ng-deep .mat-input-element {
    caret-color: rgba(0,0,0,.6)!important;
   }
.imgLogo{
    margin-left:10px; 
    margin-top:10px;  
    margin-bottom: 20px;
}

.title{
    color:#c8c8c8e8;
    margin-top:-20px;
    margin-left: 30px;
}
.mat-progress-spinner::ng-deep circle {
    stroke: #ffffff!important;
}
.creationCpte mat-card-header mat-icon{
    color: #ffffff;
    font-size: 30px;
}




