

<div class="creationCpt">
<div  fxFlex fxLayout="column" > 
  <div fxFlex="70" fxLayoutAlign="center">
    <mat-card class="creationCpte mat-elevation-z8">
      <mat-card-header>
        <h4 class="pt-2">Creation Compte</h4>
      </mat-card-header>
      <mat-card-content>
      <div fxLayout="row">
        <div>
          <img src="assets/images/logoCSS.png" height="60px" width="120px" alt="">
        </div>
        &nbsp;
        <h4 class="page_createCpt">Creation compte e-portail CSS</h4>
      </div>
      <div fxLayout="row">
        <form [formGroup]="creationCpteForm" class="mt-5" fxFlex fxLayout="column">
          <div fxLayout="row">
          <mat-form-field  appearance="outline" class="pl-5 pr-5">
            <mat-label>Nom</mat-label>
            <input type="text" matInput formControlName="nom" required />
            <mat-icon matSuffix>person_outlined</mat-icon>
            <mat-error>Champ obligatoire</mat-error>
          </mat-form-field>
          <mat-form-field  appearance="outline" class="pl-5 pr-5">
            <mat-label>Prenom</mat-label>
            <input type="text" matInput formControlName="prenom"  required />
            <mat-icon matSuffix>person_outlined</mat-icon>
            <mat-error>Champ obligatoire</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field appearance="outline"  class="pl-5 pr-5">
            <mat-label>Email</mat-label>
            <input type="email"  matInput formControlName="email" required />
            <mat-icon matSuffix>person_outlined</mat-icon>
            <mat-error>Ce champ est obligatoire</mat-error>
          </mat-form-field>
          <mat-form-field  appearance="outline"   class="pl-5 pr-5">
            <mat-label>Numero Piece D'Identite</mat-label>
            <input type="text"  matInput formControlName="icn" required />
            <mat-icon matSuffix>person_outlined</mat-icon>
            <mat-error>Ce champ est obligatoire</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field appearance="outline" class="pl-5 pr-5">
            <mat-label>Mot De Passe</mat-label>
            <input type="password"  matInput formControlName="password" required />
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error>Champ obligatoire</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline"  class="pl-5 pr-5">
            <mat-label>Confirmer Mot De Passe</mat-label>
            <input type="password"   matInput formControlName="passwordConf" required />
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error>Champ obligatoire</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" class="pl-5">
        <re-captcha formControlName="recaptcha"></re-captcha>
        </div>
          <div fxLayout="column" class="mb-4 mt-2" fxLayoutAlign="center center">
            <button fxLayoutAlign="center" mat-raised-button class="submit-button1" aria-label="CONNEXION">
              Envoyer
            </button>
          </div>
        </form>
      </div>
      </mat-card-content>
    </mat-card>
  </div>
  </div>
</div>

