<div class="mt-5">
    <form action="" [formGroup]="infoGenForm">
    <div fxFlex="row" fxLayoutGap="10%">
    <mat-form-field appearance="outline">
      <mat-label>Ninea</mat-label>
      <input matInput required />
      <mat-icon matSuffix>perm_identity</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Numero Piece d'identite</mat-label>
      <input matInput required />
      <mat-icon matSuffix>supervisor_account</mat-icon>
    </mat-form-field>
   </div>
   </form>
</div>
