h2{
    text-align: center;
    color:#000;
}
/* .welcome{
    margin-top:20px;
}
 */
 /* table th{
    font-weight: bold;
    color:#999999;
  } 
   table td  .mat-mini-fab{
    max-width: 30px;
    max-height: 30px;
  }
  table td  .mat-icon{
   font-size: 14px;
  }
  table td  .mat-mini-fab{
  background-color: #f2f2f2;
  box-shadow: none;
  }
  table td  .edit{
    color: #0aca04;;
  }
  table td  .edit{
    color: #0aca04;;
  }
  table td  .delete{
    color: rgb(187, 2, 18);
  } 
 */