<div fxLayoutAlign="space-between center">
  <h1 mat-dialog-title>Déclaration</h1>
  <button mat-dialog-title mat-button class="close-icon" [mat-dialog-close]="true">
    <mat-icon color="warn">close</mat-icon>
  </button>   
</div>
<div mat-dialog-content>
  <div *ngIf="loader"  class="center">
    <mat-progress-spinner strokeWidth="3" diameter=35 mode="indeterminate"color="primary">
    </mat-progress-spinner>
</div>        
  <form [formGroup]="declarationForm">
    <mat-horizontal-stepper #stepper class="mt-1">
      <mat-step label="Information General" state="genInfo">
        <ng-template matStepLabel>Informations Générales</ng-template>
        <div class="mt-3">     
          <div fxLayout="row" fxLayoutGap="5%">
            <mat-form-field appearance="outline">
              <mat-label>Type identifiant</mat-label>
              <mat-select formControlName="typeIdentifiant" required>
                <mat-option value="SCI" readonly>NINEA</mat-option>
                <mat-option value="NIN" readonly>NIN</mat-option>
              </mat-select>
              <mat-error>Ce champ est obligatoire</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Numéro identifiant</mat-label>
              <input matInput formControlName="idIdentifiant" readonly required />
              <!--  <mat-icon matSuffix>email</mat-icon> -->
              <mat-error>Ce champ est obligatoire</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="5%">
            <mat-form-field appearance="outline">
              <mat-label>Adresse</mat-label>
              <input matInput formControlName="adresse" readonly required/>
              <mat-error>Ce champ est obligatoire</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Raison sociale</mat-label>
              <input type="text" matInput formControlName="raisonSociale" readonly required />
              <mat-error>
              Ce champ est obligatoire
            </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="2%">
            <mat-form-field appearance="outline">
              <mat-label>Type déclaration</mat-label>
              <mat-select (selectionChange)="incrementDate($event)" (blur)="swictActiveDesactiveButton($event)" formControlName="typeDeclaration" required>
                <mat-option value="MENSUEL">Mensuel</mat-option>
                <mat-option value="TRIMESTRIEL">Trimestriel</mat-option>
              </mat-select>
              <mat-error>Ce champ est obligatoire</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Date début cotisation</mat-label>
              <input (dateChange)="incrementDate($event)" matInput formControlName="dateDebutCotisation" required
                [matDatepicker]="dateDebutCotisation">
              <mat-datepicker-toggle matSuffix [for]="dateDebutCotisation"></mat-datepicker-toggle>
              <mat-datepicker #dateDebutCotisation></mat-datepicker>
              <mat-error>                
                Ce champs est obligatoire
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Date fin cotisation</mat-label>
              <input matInput formControlName="dateFinPeriodeCotisation" readonly
                [matDatepicker]="dateFinPeriodeCotisation" disabled>
              <mat-datepicker-toggle matSuffix [for]="dateFinPeriodeCotisation "></mat-datepicker-toggle>
              <mat-datepicker #dateFinPeriodeCotisation></mat-datepicker>
              <mat-error>
                Ce champs est obligatoire
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="5%">  
            <div fxFlex="20" class="mt-3">
              <button  [disabled]="displayBtn" class="largeButt" (click)="preDns()"
                mat-raised-button>
                <div *ngIf="!loader1">
                  PreDNS <mat-icon *ngIf="displayBtn"
                    style="display: inline-block;font-size: 14px;">check</mat-icon>
                </div>
                <div>
                  <mat-spinner *ngIf="loader1" strokeWidth="2" [diameter]="25"></mat-spinner>
                </div>
              </button>
              <!-- <button [disabled]="!displayBtn"  class="submit-button" mat-raised-button matStepperNext>Suivant</button> -->
            </div>
              <div fxFlex="20" class="mt-3">
              <button  [disabled]="!displayBtn" class="submit-button-right" mat-raised-button matStepperNext>Suivant</button>
              </div>
          </div>   
        </div>
      </mat-step>
      <mat-step label="Information Liste salaries" state="infoSalList">
        <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="mt-3" fxFlex="50"> 
          <!-- <mat-form-field style="width: 70%;"  appearance="outline" class="filter">
            <mat-label>Rechercher un salarie</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)">
          </mat-form-field>   --> 
         </div>  
        <div  class="mt-3" fxLayoutAlign="end" fxLayoutGap="2%">
          <button mat-raised-button class="submit-secondary" (click)="fileInput.click()" color="primary">Importer un fichier .xlsx
            <input hidden #fileInput type="file" (change)=" onFileChange($event)" />
          </button>       
            <button  mat-raised-button class="submit-button-small" (click)="uploadfile()">Charger </button>
        </div>
      </div>   
        <mat-divider class="inset mt-3"></mat-divider>
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="numeroAssureSocial">
            <th mat-header-cell *matHeaderCellDef> Numéro Assuré Social </th>
            <td mat-cell *matCellDef="let element"><b> {{element.numeroAssureSocial}}</b> </td>
          </ng-container>
          <ng-container matColumnDef="nomEmploye">
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let element"><b> {{element.nomEmploye}} </b> </td>
          </ng-container>
          <ng-container matColumnDef="prenomEmploye">
            <th mat-header-cell *matHeaderCellDef> Prénom </th>
            <td mat-cell *matCellDef="let element"> <b>{{element.prenomEmploye}}</b> </td>
          </ng-container>           
          <ng-container matColumnDef="dateNaissance">
            <th mat-header-cell *matHeaderCellDef>Date de naissance</th>
            <td mat-cell *matCellDef="let element"> <b> {{element.dateNaissance}}</b> </td>
          </ng-container>                 
          <ng-container matColumnDef="typePieceIdentite">
            <th mat-header-cell *matHeaderCellDef> Type d'identité </th>
            <td mat-cell *matCellDef="let element"> <b>{{element.typePieceIdentite}}</b> </td>
          </ng-container>
          <ng-container matColumnDef="numPieceIdentite">
            <th mat-header-cell *matHeaderCellDef>Numéro de pièce d'identité</th>
            <td mat-cell *matCellDef="let element"> <b>{{element.numPieceIdentite}}</b> </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action </th>
            <td mat-cell *matCellDef="let element; let j=index;">
              <button mat-fab  (click)="fillSalForm(j)"
                mat-mini-fab>
                <mat-icon class="edit">edit</mat-icon>
              </button> &nbsp;
              <button mat-fab  mat-mini-fab (click)="removeSal(j)">
                <mat-icon class="delete">delete_outline</mat-icon>
              </button> 
            </td>
            <td mat-cell *matCellDef="let element"> </td>
           <!--  <ng-template #callAPIDialog>
              <h2 matDialogTitle>Etes vous sur de vouloir supprimer se salaries</h2>
              <mat-dialog-content>
                  <button mat-button matDialogClose="no">Annuler</button>
                  <button mat-button matDialogClose="yes">Confirmer</button>
              </mat-dialog-content>
          </ng-template> -->
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator [pageSize]="3" [pageSizeOptions]="[3, 5, 10]">
        </mat-paginator>
        <div class="mt-2 mb-2" fxLayoutAlign="end" fxLayoutGap="10%">
          <button class="addEmp" [disabled]="!declarationForm.valid" class="addSal" (click)="addNewSalarie()" mat-mini-fab>
            <mat-icon>add</mat-icon>
          </button>
        </div>
         <div fxFlex="row">
          <div fxFlex="25">
          <mat-toolbar>Total CSS - PF : {{totSalAssCssPf}}</mat-toolbar>
          </div> 
          <div fxFlex="25">
          <mat-toolbar>Total CSS - ATMP : {{totSalAssCssAtmp}}</mat-toolbar>
        </div>
        <div fxFlex="25">
          <mat-toolbar>Total IPRES - RG : {{totSalAssIpresRg}}</mat-toolbar>
        </div>  
        <div fxFlex="25">
          <mat-toolbar>Total IPRES - RCC : {{totSalAssIpresRcc}}</mat-toolbar>
        </div> 
        </div> 
        <div formArrayName="informationSalaries">
          <div *ngFor="let item of declarationForm.get('informationSalaries')['controls']; let i=index">
            <div *ngIf="addIndex==i && addSalForm || editIndex==i && editSalForm">
              <div [formGroupName]="i">
                <div fxLayout="row" fxLayoutGap="5%">
                  <mat-form-field appearance="outline">
                    <mat-label>Nom</mat-label>
                    <input formControlName="nomEmploye" matInput />
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-error>Ce champ est obligatoire</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Prénom</mat-label>
                    <input formControlName="prenomEmploye" matInput />
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-error>Ce champ est obligatoire</mat-error>

                  </mat-form-field>
                  <mat-form-field fxFlex="10" appearance="outline">
                    <mat-label>Date de naissance</mat-label>
                    <input matInput formControlName="dateNaissance" [matDatepicker]="dateNaissance">
                    <mat-datepicker-toggle matSuffix [for]="dateNaissance"></mat-datepicker-toggle>
                    <mat-datepicker #dateNaissance></mat-datepicker>
                    <mat-error>
                      Ce champs est obligatoire
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="5%">
                  <mat-form-field appearance="outline">
                    <mat-label>Numéro assuré social</mat-label>
                    <input formControlName="numeroAssureSocial" matInput />
                    <mat-error>Ce champ est obligatoire</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Type identifiant</mat-label>
                    <mat-select formControlName="typePieceIdentite" readonly>
                      <mat-option value="NIN">Carte nationale d'identité</mat-option>
                      <mat-option value="PASS">Passeport</mat-option>
                      <mat-option value="CDAO">Carte CEDEAO</mat-option>
                      <mat-option value="CONC">Carte consulaire</mat-option>
                    </mat-select>
                    <mat-error>Ce champ est obligatoire</mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="10" appearance="outline">
                    <mat-label>Numéro identifiant</mat-label>
                    <input formControlName="numPieceIdentite" matInput/>
                    <mat-icon matSuffix>person_outline</mat-icon>
                    <mat-error>Ce champ est obligatoire</mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="5%">
                  <mat-form-field appearance="outline">
                    <mat-label>Type contrat</mat-label>
                    <mat-select formControlName="natureContrat">
                      <mat-option value="CDD">Contrat à durée determinée</mat-option>
                      <mat-option value="CDI">Contrat à durée indeterminée</mat-option>
                      <mat-option value="JOU">Journalier</mat-option>
                      <mat-option value="STA">Contrat de stage</mat-option>
                      <mat-option value="SPE">Contrat spécial</mat-option>
                    </mat-select>
                    <mat-error>Ce champ est obligatoire</mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="10" appearance="outline">
                    <mat-label>Date entrée</mat-label>
                    <input matInput formControlName="dateEntree" required [matDatepicker]="dateEntree">
                    <mat-datepicker-toggle matSuffix [for]="dateEntree"></mat-datepicker-toggle>
                    <mat-datepicker #dateEntree></mat-datepicker>
                    <mat-error>
                      Ce champs est obligatoire
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="10" appearance="outline">
                    <mat-label>Date sortie</mat-label>
                    <input matInput formControlName="dateSortie" required [matDatepicker]="dateSortie">
                    <mat-datepicker-toggle matSuffix [for]="dateSortie"></mat-datepicker-toggle>
                    <mat-datepicker #dateSortie></mat-datepicker>
                    <mat-error>
                      Ce champs est obligatoire
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="10%">
                  <mat-form-field fxFlex="40" appearance="outline">
                    <mat-label>Motif sortie</mat-label>
                    <mat-select formControlName="motifSortie">
                      <mat-option value="EXPIRATION_DE_CONTRAT">Expiration contrat</mat-option>
                      <mat-option value="DEMISSION">Démission</mat-option>
                      <mat-option value="LICENCIEMENT">Licenciement</mat-option>
                      <mat-option value="ABANDON_DE_POSTE">Abandon de poste</mat-option>
                      <mat-option value="MUTATION">Mutation</mat-option>
                      <mat-option value="RETRAITE">Retraite</mat-option>
                      <mat-option value="DECES">Décès</mat-option>
                    </mat-select>
                    <mat-error>Ce champ est obligatoire</mat-error>
                  </mat-form-field>
                </div>       
                <mat-tab-group fxLayoutGap="20" mat-align-tabs="center">
                  <mat-tab *ngIf="displayMonth1" label="Montant cotisation du Mois 1">
                    <div class="mt-5" fxLayout="row" fxLayoutGap="5%">
                      <mat-form-field appearance="outline">
                        <mat-label>Total salaires assujettis PF1</mat-label>
                        <input type="number" formControlName="totSalAssCssPf1" matInput />
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Total salaires assujettis ATMP1</mat-label>
                        <input  type="number" formControlName="totSalAssCssAtmp1" matInput />
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>       
                      <mat-form-field appearance="outline">
                        <mat-label>Total salaires assujettis IPRES RG1</mat-label>
                        <input  type="number" formControlName="totSalAssIpresRg1" matInput />
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Total salaires assujettis IPRES RCC1</mat-label>
                        <input  type="number" formControlName="totSalAssIpresRcc1" matInput />
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="2%">
                      <mat-form-field appearance="outline">
                        <mat-label>Salaire brut</mat-label>
                        <input  type="number" formControlName="salaireBrut1" matInput />
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Nombre de jours</mat-label>
                        <input  type="number" formControlName="nombreJours1" matInput />
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Nombre d'heures</mat-label>
                        <input  type="number" formControlName="nombreHeures1" matInput />
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Temps de travail</mat-label>
                        <mat-select formControlName="tempsTravail1" matInput>
                          <mat-option value="TPS_PLEIN">Temps plein</mat-option>
                          <mat-option value="TPS_PLEIN">Temps partiel</mat-option>
                        </mat-select>
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="2%">

                     
                      <mat-form-field fxFlex="10" appearance="outline">
                        <mat-label>Tranche de travail</mat-label>
                        <input formControlName="trancheTravail1" matInput />
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                      <mat-form-field fxFlex="10" appearance="outline">
                        <mat-label>Régime général</mat-label>
                        <mat-select formControlName="regimeGeneral1" matInput>
                          <mat-option value="true">Oui</mat-option>
                          <mat-option value="false">Non</mat-option>
                          </mat-select>
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                      <mat-form-field fxFlex="40" appearance="outline">
                        <mat-label>Régime cadre</mat-label>
                        <mat-select formControlName="regimCompCadre1" matInput>
                          <mat-option value="true">Oui</mat-option>
                          <mat-option value="false">Non</mat-option>
                          </mat-select>
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                      <mat-form-field fxFlex="25" appearance="outline">
                        <mat-label>Date d'effet regime cadre</mat-label>
                        <input matInput formControlName="dateEffetRegimeCadre1" [matDatepicker]="dateEffetRegimeCadre1">
                        <mat-datepicker-toggle matSuffix [for]="dateEffetRegimeCadre1"></mat-datepicker-toggle>
                        <mat-datepicker #dateEffetRegimeCadre1></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </mat-tab>
                  <mat-tab *ngIf="displayMonth2" label="Montant cotisation du Mois 2">
                    <div class="mt-5" fxLayout="row" fxLayoutGap="2%">
                      <mat-form-field appearance="outline">
                        <mat-label>Total salaires assujettis PF2</mat-label>
                        <input  type="number" formControlName="totSalAssCssPf2" matInput />
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Total salaires assujettis ATMP2</mat-label>
                        <input  type="number" formControlName="totSalAssCssAtmp2" matInput />
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Total salaires assujettis IPRES RG2</mat-label>
                        <input  type="number" formControlName="totSalAssIpresRg2" matInput />
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Total salaires assujettis IPRES RCC2</mat-label>
                        <input  type="number" formControlName="totSalAssIpresRcc2" matInput />
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="2%">
                      <mat-form-field appearance="outline">
                        <mat-label>Salaire brut</mat-label>
                        <input  type="number" formControlName="salaireBrut2" matInput />
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                      <mat-form-field fxFlex="10" appearance="outline">
                        <mat-label>Nombre de jours</mat-label>
                        <input  type="number" formControlName="nombreJours2" matInput />
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                      <mat-form-field fxFlex="10" appearance="outline">
                        <mat-label>Nombre d'heures</mat-label>
                        <input  type="number" formControlName="nombreHeures2" matInput />
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Temps de travail</mat-label>
                        <mat-select formControlName="tempsTravail2" matInput>
                          <mat-option value="TPS_PLEIN">Temps plein</mat-option>
                          <mat-option value="TPS_PLEIN">Temps partiel</mat-option>
                        </mat-select>
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="2%">   
                      <mat-form-field fxFlex="10" appearance="outline">
                        <mat-label>Tranche de travail</mat-label>
                        <input formControlName="trancheTravail2" matInput />
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                      <mat-form-field fxFlex="10" appearance="outline">
                        <mat-label>Régime général</mat-label>
                        <mat-select formControlName="regimeGeneral2" matInput>
                          <mat-option value="true">Oui</mat-option>
                          <mat-option value="false">Non</mat-option>
                          </mat-select>
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                      <mat-form-field fxFlex="40" appearance="outline">
                        <mat-label>Régime cadre</mat-label>
                        <mat-select formControlName="regimCompCadre2" matInput>
                          <mat-option value="true">Oui</mat-option>
                          <mat-option value="false">Non</mat-option>
                          </mat-select>
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                      <mat-form-field fxFlex="25" appearance="outline">
                        <mat-label>Date d'effet du regime cadre</mat-label>
                        <input matInput formControlName="dateEffetRegimeCadre2" [matDatepicker]="dateEffetRegimeCadre2">
                        <mat-datepicker-toggle matSuffix [for]="dateEffetRegimeCadre2"></mat-datepicker-toggle>
                        <mat-datepicker #dateEffetRegimeCadre2></mat-datepicker>
                      </mat-form-field>   
                    </div>   
                  </mat-tab>
                  <mat-tab *ngIf="displayMonth3" label="Montant cotisation du Mois 3">
                    <div class="mt-5" fxLayout="row" fxLayoutGap="2%">
                      <mat-form-field appearance="outline">
                        <mat-label>Total salaires assujettis PF3</mat-label>
                        <input  type="number" formControlName="totSalAssCssPf3" matInput />
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Total salaires assujettis ATMP3</mat-label>
                        <input  type="number" formControlName="totSalAssCssAtmp3" matInput />
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Total salaires assujettis IPRES RG3</mat-label>
                        <input  type="number" formControlName="totSalAssIpresRg3" matInput />
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Total salaires assujettis IPRES RCC3</mat-label>
                        <input  type="number" formControlName="totSalAssIpresRcc3" matInput />
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>      
                    </div>
                    <div fxLayout="row" fxLayoutGap="2%">
                      <mat-form-field appearance="outline">
                        <mat-label>Salaire brut</mat-label>
                        <input  type="number" formControlName="salaireBrut3" matInput />
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                      <mat-form-field fxFlex="10" appearance="outline">
                        <mat-label>Nombre de jours</mat-label>
                        <input  type="number" formControlName="nombreJours3" matInput />
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                      <mat-form-field fxFlex="10" appearance="outline">
                        <mat-label>Nombre d'heures</mat-label>
                        <input  type="number" formControlName="nombreHeures3" matInput />
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Temps de travail</mat-label>
                        <mat-select formControlName="tempsTravail3" matInput>
                          <mat-option value="TPS_PLEIN">Temps plein</mat-option>
                          <mat-option value="TPS_PLEIN">Temps partiel</mat-option>
                        </mat-select>
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="2%">                 
                      <mat-form-field fxFlex="10" appearance="outline">
                        <mat-label>Tranche de travail</mat-label>
                        <input formControlName="trancheTravail3" matInput />
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                      <mat-form-field fxFlex="10" appearance="outline">
                        <mat-label>Régime général</mat-label>
                        <mat-select formControlName="regimeGeneral3" matInput>
                        <mat-option value="true">Oui</mat-option>
                        <mat-option value="false">Non</mat-option>   
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field fxFlex="40" appearance="outline">
                        <mat-label>Régime cadre</mat-label>
                        <mat-select formControlName="regimCompCadre3" matInput>
                          <mat-option value="true">Oui</mat-option>
                          <mat-option value="false">Non</mat-option>
                          </mat-select>
                        <mat-error>Ce champ est obligatoire</mat-error>
                      </mat-form-field>
                      <mat-form-field fxFlex="25" appearance="outline">
                        <mat-label>Date d'effet du régime cadre</mat-label>
                        <input matInput formControlName="dateEffetRegimeCadre3" [matDatepicker]="dateEffetRegimeCadre3">
                        <mat-datepicker-toggle matSuffix [for]="dateEffetRegimeCadre3"></mat-datepicker-toggle>
                        <mat-datepicker #dateEffetRegimeCadre3></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </mat-tab>  
                </mat-tab-group>
              </div>
              <button *ngIf="addSalForm"  class="submit-add-edit"  [disabled]="!declarationForm.get('informationSalaries').valid"  mat-raised-button (click)="updateSal()">Ajouter</button>
              <button *ngIf="editSalForm" class="submit-add-edit" [disabled]="!declarationForm.get('informationSalaries').valid"  mat-raised-button (click)="updateSal()">Modifier</button>
            </div>
          </div>
          <div fxLayoutAlign="end" fxLayoutGap="10%">
            <button mat-raised-button mat-button matStepperPrevious>Précédent</button>
            <button (click)="cumulTotal()" [disabled]="!declarationForm.valid" class="submit-button" mat-raised-button matStepperNext>Suivant</button>
          </div>
      </div>
      </mat-step>   
      <mat-step class="confirmation" label="Confirmation" state="confirmation">
        <mat-toolbar class="mt-3">
          <mat-icon>check_circle_outline</mat-icon>&nbsp;Synthèse
        </mat-toolbar>
        <!--  <mat-icon class="icon">person_outline</mat-icon> <h5 >Information General</h5><br> -->
        <div fxLayout="column" class="report_infoFen">
          <div fxLayout="row" class="mt-2" fxLayoutGap="5%">
            <div fxFlex="50">
              <span>
                <b>Total des nouveaux salariés</b> &nbsp;{{ declarationForm.get('totalSalaries').value }}
              </span>
            </div>
            <div fxFlex="50">
              <span>
                <b> Cumule total salaires assujettis IPRES - RG &nbsp;</b>
                {{ declarationForm.get('cumulTotSalAssIpresRg').value }}
              </span>
            </div>
          </div>
          <mat-divider class="inset mt-3"></mat-divider>
          <div class="mt-3" fxFlex="row" fxLayoutGap="5%">
            <div fxFlex="50">
              <span><b>Cumule total salaires assujettis IPRES - RCC</b> &nbsp;
                {{ declarationForm.get('cumulTotSalAssIpresRcc').value }}</span>
            </div>
            <div fxFlex="50">
              <span><b>Cumule total salaires assujettis CSS - PF</b> &nbsp;
                {{ declarationForm.get('cumulTotSalAssCssPf').value }}</span>
            </div>
          </div>
          <mat-divider class="inset mt-3"></mat-divider>
          <div class="mt-3" fxFlex="row" fxLayoutGap="5%">
            <div fxFlex="50">
              <span><b>Cumul total salaires assujettis IPRES - RCC</b>
                &nbsp;{{ declarationForm.get('cumulTotSalAssIpresRcc').value }}</span>
            </div>
            <div fxFlex="50">
              <span><b>Cumule total salaires assujettis CSS - PF</b> &nbsp;
                {{ declarationForm.get('cumulTotSalAssCssPf').value }}</span>
            </div>
          </div>
          <mat-divider class="inset mt-3"></mat-divider>
          <div class="mt-3" fxFlex="row" fxLayoutGap="5%">
            <div fxFlex="50">
              <span><b>Cumule total salaires assujettis CSS - ATMP</b> &nbsp;
                {{ declarationForm.get('cumulTotSalAssCssAtmp').value }}</span>
            </div>
            <div fxFlex=50>
              <span><b>Total des salaires versés</b> &nbsp; {{ declarationForm.get('totalSalVerses').value }}</span>
            </div>
          </div>
          <mat-divider class="inset mt-3"></mat-divider>
          <div class="mt-3" fxFlex="row" fxLayoutGap="5%">
            <div fxFlex=50>
              <span><b>Montant cotisation calculé par Employeur</b> &nbsp;
                {{ declarationForm.get('mntCotPfCalcParEmployeur').value }}</span>
            </div>
            <div fxFlex="50">
              <span><b>Montant cotisation calculé par Employeur</b> &nbsp;
                {{ declarationForm.get('mntCotAtMpCalcParEmployeur').value }}</span>
            </div>
          </div>
          <mat-divider class="inset mt-3"></mat-divider>
          <div class="mt-3" fxFlex="row" fxLayoutGap="5%">
            <div fxFlex="50">
              <span><b>Montant cotisation RG calculé par Employeur</b> &nbsp;
                {{ declarationForm.get('mntCotRgCalcParEmployeur').value }}</span>
            </div>
            <div fxFlex="50">
              <span><b>Montant cotisation RCC calculé par Employeur</b> &nbsp;
                {{ declarationForm.get('mntCotRccCalcParEmployeur').value }}</span>
            </div>
          </div>
          <mat-divider class="inset mt-3"></mat-divider>
        </div>
        <mat-toolbar class="mt-3">
          <mat-icon>check_circle_outline</mat-icon>&nbsp;Liste des Salariés
        </mat-toolbar>
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="numeroAssureSocial">
            <th mat-header-cell *matHeaderCellDef> Numéro Assuré Social </th>
            <td mat-cell *matCellDef="let element"> {{element.numeroAssureSocial}} </td>
          </ng-container>
          <ng-container matColumnDef="nomEmploye">
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let element"> {{element.nomEmploye}} </td>
          </ng-container>
          <ng-container matColumnDef="prenomEmploye">
            <th mat-header-cell *matHeaderCellDef> Prénom </th>
            <td mat-cell *matCellDef="let element"> {{element.prenomEmploye}} </td>
          </ng-container>
          <ng-container matColumnDef="dateNaissance">
            <th mat-header-cell *matHeaderCellDef> Date de naissance </th>
            <td mat-cell *matCellDef="let element"> {{element.dateNaissance}} </td>
          </ng-container>
          <ng-container matColumnDef="typePieceIdentite">
            <th mat-header-cell *matHeaderCellDef> Type d'identité </th>
            <td mat-cell *matCellDef="let element"> {{element.typePieceIdentite}} </td>
          </ng-container>
          <ng-container matColumnDef="numPieceIdentite">
            <th mat-header-cell *matHeaderCellDef>Numéro pièce </th>
            <td mat-cell *matCellDef="let element"> {{element.numPieceIdentite}} </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action </th>
            <td mat-cell *matCellDef="let element">
              <!-- <mat-icon>edit</mat-icon> -->
            </td>
            <td mat-cell *matCellDef="let element">
             <!--  <mat-icon>delete_outline</mat-icon> -->
            </td>
          </ng-container> 
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="mt-3" fxLayoutAlign="end" fxLayoutGap="10%">
          <button mat-raised-button mat-button matStepperPrevious>Précédent</button>
          <button (click)="addDeclaration()" class="submit-button" mat-raised-button matStepperNext>Déclarer</button>
        </div>
      </mat-step>
      <ng-template matStepperIcon="genInfo">
        <mat-icon>create_new_folder</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="synthese">
        <mat-icon>library_books</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="infoSalList">
        <mat-icon>person_outlined</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="confirmation">
        <mat-icon>done_all</mat-icon>
      </ng-template>

    </mat-horizontal-stepper>
  </form>
</div>