.mat-dialog-content{
    width: 800px;
}
.mat-form-field{
    width: 45%;
    min-width: 25%;
}
.min-form
h1{
    color:#999999;
}
.mat-dialog-content{
    width:1000px;
    background-color: #f2f2f2;
    height: auto;
  }

  .synthese mat-form-field{
     width: 30%;
  }

  .submit-button{
    background-color: rgb(255, 104, 49);
    color:#ffffff;
    width: 20%;
 }
 .submit-button1{
    background-color: rgb(255, 104, 49);
    color:#ffffff;
    width: 100%;
 }
 
 
 table{
     width: 100%;
 }
 .largeButt{
     
    display:inline-block;
    vertical-align:middle;
     width: 70%;
     color:#ffffff;
     height: 40px;
     background-color:#0aca04;
     border-radius: 25px ;   
 }
 mat-toolbar{
     color:#0aca04;
     border-radius: 5px;
     background-color: #0bca0428;
     height: 50px;
 }

 .mat-progress-spinner::ng-deep circle {
    stroke: #ffffff!important;
}
.report_infoFen{
    margin-top: 10px;
    border:2px solid #f2f2f2;
    border-radius: 5px;
    padding:20px;
  }
  .report_infoFen span b{
    color:#0aca04;
  }
  .report_infoFen span p{
    color:rgb(255, 104, 49);
  }
::ng-deep .mat-tab-labels, .mat-tab-label, .mat-tab-link {
    font-size: 16px;
    background-color: rgb(255, 104, 49);
    border-radius: 5px;

  }
  ::ng-deep .mat-tab-label {
    background-color:transparent;
    color:rgb(250, 250, 250);
}
  
  ::ng-deep  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background: rgb(245, 245, 245);
    height: 2px; 
  }