.mat-dialog-content{
    width: 800px;
}
.mat-form-field{
    max-width: 45%;
    min-width: 45%;
}
h1{
    color:#999999;
}
.mat-dialog-content{
    width:1000px;
    background-color: #f2f2f2;
    height: auto;
  }

  .synthese mat-form-field{
     width: 30%;
  }

  .submit-button{
    background-color: rgb(255, 104, 49);
    color:#ffffff;
  
 }