<div  fxLayoutAlign="space-between center">
  <h1 mat-dialog-title>Declaration</h1>
   <button mat-dialog-title mat-button class="close-icon" [mat-dialog-close]="true">
        <mat-icon color="warn">close</mat-icon>
    </button>
</div>
       <div mat-dialog-content>
        <form [formGroup]="declarationForm">
           <!--  <div fxLayout="row" fxLayoutGap="10%">
              <mat-form-field  appearance="outline">
                <mat-label>Type identifiant</mat-label>
                <mat-select required>
                  <mat-option [value]="1">Ninea</mat-option>
                  <mat-option [value]="2">Ninet</mat-option>
                </mat-select>
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error>Ce champ est obligatoire</mat-error>
              </mat-form-field>
              <mat-form-field  appearance="outline">
                  <mat-label>Numero identifiant</mat-label>
                  <input matInput required/>
                  <mat-icon matSuffix>email</mat-icon>
                  <mat-error>Ce champ est obligatoire</mat-error>
              </mat-form-field>
              
            </div>
            <div fxLayout="row" fxLayoutGap="10%">
              <mat-form-field  appearance="outline">
                <mat-label>Raison social</mat-label>
                <input matInput required/>
                <mat-icon matSuffix>email</mat-icon>
                <mat-error>Ce champ est obligatoire</mat-error>
            </mat-form-field>
            <mat-form-field  appearance="outline">
              <mat-label>Adresse</mat-label>
              <input matInput required/>
              <mat-icon matSuffix>email</mat-icon>
              <mat-error>Ce champ est obligatoire</mat-error>
          </mat-form-field>
            </div>  
            <div fxLayout="row" fxLayoutGap="10%">
              <mat-form-field  appearance="outline">
                <mat-label>Periode cotisation</mat-label>
                <mat-select required>
                  <mat-option [value]="1">Semestre</mat-option>
                  <mat-option [value]="2">Trimestre</mat-option>
                  <mat-option [value]="3">Mensuel</mat-option>
                </mat-select>
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error>Ce champ est obligatoire</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Date debut periode cotisation</mat-label>
                <input (dateChange)="compareDate($event)" matInput formControlName="startDateCot" required [matDatepicker]="startCot">
                <mat-datepicker-toggle matSuffix [for]="startCot"></mat-datepicker-toggle>
                <mat-datepicker #startCot></mat-datepicker>
                <mat-error>Ce champ est obligatoire.</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="10%">
              <mat-form-field appearance="outline">
                <mat-label>Date fin periode cotisation</mat-label>
                <input (dateChange)="compareDate($event)" matInput formControlName="endDateCot" required [matDatepicker]="endCot">
                <mat-datepicker-toggle matSuffix [for]="endCot"></mat-datepicker-toggle>
                <mat-datepicker #endCot></mat-datepicker>
                <mat-error>Ce champ est obligatoire.</mat-error>
                <mat-hint class="text-danger" *ngIf="dateErrors">
                  La date fin de cotisation doit etre superieur a la date debut de cotisation
                </mat-hint>
              </mat-form-field>

            </div>
            <div fxLayoutAlign="end" fxLayoutGap="10%">
              <button mat-raised-button mat-button>Annuler</button>
              <button  class="submit-button"  mat-button>Declarer</button>
          </div>   -->
          
            
              <mat-horizontal-stepper formGroupName="input"  #stepper class="mt-1">
                
                <mat-step formGroupName="informationEmployeur" label="Information General" state="genInfo">
                  <div class="mt-2">
                  <ng-template matStepLabel>Information General</ng-template> 
                <div fxLayout="row" fxLayoutGap="10%">
                  <mat-form-field   appearance="outline">
                    <mat-label>Type identifiant</mat-label>
                    <mat-select formControlName="typeIdentifiant" required>
                      <mat-option value="SCI">NINEA</mat-option>
                      <mat-option value="NIN">Carte national d'identie</mat-option>
                      <mat-option value="PASS">Passport</mat-option>
                      <mat-option value="PASS">Carte CEDEAO</mat-option>
                    </mat-select>
                    <!-- <mat-icon matSuffix>perm_identity</mat-icon> -->
                    <mat-error>Ce champ est obligatoire</mat-error>
                  </mat-form-field>
                  <mat-form-field   appearance="outline">
                      <mat-label>Numero identifiant</mat-label>
                      <input  matInput formControlName="raisonSociale" required/>
                     <!--  <mat-icon matSuffix>email</mat-icon> -->
                     <mat-error>Ce champ est obligatoire</mat-error> 
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="10%">
                  <mat-form-field   appearance="outline">
                    <mat-label>Adresse</mat-label>
                    <input matInput formControlName="adresse" required/>
                    <!-- <mat-icon matSuffix>email</mat-icon> -->
                 <mat-error>Ce champ est obligatoire</mat-error> 
                </mat-form-field>
                <mat-form-field   appearance="outline">
                  <mat-label>Type declaration</mat-label>
                  <mat-select  formControlName="typeDeclaration" required>
                    <mat-option value="MENSUEL">Mensuel</mat-option>
                    <mat-option value="TRIMESTRIEL">Trimestre</mat-option> 
                  </mat-select>
                  <!-- <mat-icon matSuffix>perm_identity</mat-icon> -->
                  <mat-error>Ce champ est obligatoire</mat-error>
                </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="10%">
                  <mat-form-field  appearance="outline">
                    <mat-label>Date debut cotisation</mat-label>
                    <input  matInput formControlName="dateDebutCotisation"  required
                    [matDatepicker]="dateDebutCotisation">
                    <mat-datepicker-toggle matSuffix [for]="dateDebutCotisation"></mat-datepicker-toggle>
                    <mat-datepicker #dateDebutCotisation></mat-datepicker>
                    <mat-error>
                      Ce champs est obligatoire 
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field  appearance="outline">
                    <mat-label>Date fin cotisation</mat-label>
                    <input  matInput formControlName="dateFinCotisation"  required
                    [matDatepicker]="dateFinCotisation">
                    <mat-datepicker-toggle matSuffix [for]="dateFinCotisation"></mat-datepicker-toggle>
                    <mat-datepicker #dateFinCotisation></mat-datepicker>
                    <mat-error>
                      Ce champs est obligatoire 
                    </mat-error>
                  </mat-form-field>
                </div>
                 <div fxLayoutAlign="end" fxLayoutGap="10%">
                  <button mat-raised-button mat-button matStepperPrevious>Precedent</button>
                  <button  class="submit-button" mat-button matStepperNext>Suivant</button>
                </div>
              </div>
               </mat-step>
              
              
               <mat-step class="synthese" formGroupName="synthese"  
               label="Synthese" state="synthese">
                <div fxLayout="row" fxLayoutGap="5%">
                  <mat-form-field   appearance="outline">
                    <mat-label>Total nouveau salarie</mat-label>
                    <input formControlName="totalNouvSalaries" matInput required/>
                     
                 <mat-error>Ce champ est obligatoire</mat-error> 
                </mat-form-field>
                <mat-form-field   appearance="outline">
                  <mat-label>Total salarie</mat-label>
                  <input formControlName="totalSalaries" matInput required/>
               <mat-error>Ce champ est obligatoire</mat-error> 
              </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="5%">
                  <mat-form-field   appearance="outline">
                    <mat-label>Total des salaires assujettis IPRES RG</mat-label>
                    <input formControlName="cumulTotSalAssIpresRg" matInput required/>
                 <mat-error>Ce champ est obligatoire</mat-error> 
                </mat-form-field>
                <mat-form-field   appearance="outline">
                  <mat-label>Total des salaires assujettis IPRES RCC</mat-label>
                  <input formControlName="cumulTotSalAssIpresRcc" matInput required/>
               <mat-error>Ce champ est obligatoire</mat-error> 
              </mat-form-field>
            </div>
              <div fxLayout="row" fxLayoutGap="5%">
                <mat-form-field   appearance="outline">
                  <mat-label>Total des salaire assujettis CSS PF</mat-label>
                  <input formControlName="cumulTotSalAssCssPf" matInput required/>
               <mat-error>Ce champ est obligatoire</mat-error> 
              </mat-form-field>
              <mat-form-field   appearance="outline">
                <mat-label>Total des salaire assujettis CSS AT/MP</mat-label>
                <input formControlName="cumulTotSalAssCssAtmp" matInput required/>
             <mat-error>Ce champ est obligatoire</mat-error> 
            </mat-form-field>
              </div>
                
                <div fxLayout="row" fxLayoutGap="5%">
                  <mat-form-field   appearance="outline">
                    <mat-label>Montant cotisation PF</mat-label>
                    <input formControlName="mntCotPfCalcParEmployeur" matInput required/>
                 <mat-error>Ce champ est obligatoire</mat-error> 
                </mat-form-field>
                <mat-form-field   appearance="outline">
                  <mat-label> Montant cotisation AT/MP</mat-label>
                  <input formControlName="mntCotAtMpCalcParEmployeur" matInput required/>
               <mat-error>Ce champ est obligatoire</mat-error> 
              </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="5%">
                  <mat-form-field   appearance="outline">
                    <mat-label> Montant cotisation RG</mat-label>
                    <input formControlName="mntCotRgCalcParEmployeur" matInput required/>
                 <mat-error>Ce champ est obligatoire</mat-error> 
                </mat-form-field>
                <mat-form-field   appearance="outline">
                  <mat-label> Montant cotisation RCC</mat-label>
                  <input formControlName="mntCotRccCalcParEmployeur" matInput required/>
               <mat-error>Ce champ est obligatoire</mat-error> 
              </mat-form-field>
                </div>
                <div fxLayoutAlign="end" fxLayoutGap="10%">
                  <button mat-raised-button mat-button matStepperPrevious>Precedent</button>
                  <button  class="submit-button" mat-button matStepperNext>Suivant</button>
                </div>
               </mat-step> 
               <mat-step formGroupName="informationSalariesList"  
                label="Information Liste salaries" state="infoSalList">
                <div fxLayout="row" fxLayoutGap="10%">            
              <mat-form-field   appearance="outline">
                  <mat-label>Nom</mat-label>
                  <input formControlName="nom" matInput required/>
                  <!-- <mat-icon matSuffix>email</mat-icon> -->
               <mat-error>Ce champ est obligatoire</mat-error> 
              </mat-form-field>
              <mat-form-field   appearance="outline">
                <mat-label>Prenom</mat-label>
                <input formControlName="prenom" matInput required/>
                <!-- <mat-icon matSuffix>email</mat-icon> -->
             <mat-error>Ce champ est obligatoire</mat-error> 
              </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="10%">
                  <mat-form-field   appearance="outline">
                    <mat-label>Numero assurance social</mat-label>
                    <input formControlName="numeroAssureSocial" matInput required/>
                    <!-- <mat-icon matSuffix>email</mat-icon> -->
                 <mat-error>Ce champ est obligatoire</mat-error> 
                </mat-form-field>
                <mat-form-field  appearance="outline">
                  <mat-label>Date naissance</mat-label>
                  <input  matInput formControlName="dateDeNaisssance"  required
                  [matDatepicker]="dateDeNaisssance">
                  <mat-datepicker-toggle matSuffix [for]="dateDeNaisssance"></mat-datepicker-toggle>
                  <mat-datepicker #dateDeNaisssance></mat-datepicker>
                  <mat-error>
                    Ce champs est obligatoire 
                  </mat-error>
                </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="10%">
                  <mat-form-field   appearance="outline">
                    <mat-label>Type identifiant</mat-label>
                    <mat-select formControlName="typePieceIdentite" required>
                      <mat-option value="NIN">Carte national d'identite</mat-option>
                      <mat-option value="PASS">Passport</mat-option>
                      <mat-option value="CDAO">Carte CEDEAO</mat-option>
                      <mat-option value="CONC">Carte consulaire</mat-option>
                    </mat-select>
                    <!-- <mat-icon matSuffix>perm_identity</mat-icon> -->
                    <mat-error>Ce champ est obligatoire</mat-error>
                  </mat-form-field>
                  <mat-form-field   appearance="outline">
                    <mat-label>Numero identifiant</mat-label>
                    <input formControlName="numeroPieceIdentite" matInput required/>
                    <!-- <mat-icon matSuffix>email</mat-icon> -->
                 <mat-error>Ce champ est obligatoire</mat-error> 
                </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="10%">
                  <mat-form-field   appearance="outline">
                    <mat-label>Type contrat</mat-label>
                    <mat-select formControlName="typeContrat" required>
                      <mat-option value="CDD">Contrat à durée determiné</mat-option>
                      <mat-option value="CDI">Contrat à durée indeterminé</mat-option>
                      <mat-option value="JOU">Journalier</mat-option>
                      <mat-option value="STA">Contrat de stage</mat-option>
                      <mat-option value="SPE">Contrat Spécial</mat-option>
                    </mat-select>
                    <!-- <mat-icon matSuffix>perm_identity</mat-icon> -->
                    <mat-error>Ce champ est obligatoire</mat-error>
                  </mat-form-field>
                  <mat-form-field  appearance="outline">
                    <mat-label>Date entree</mat-label>
                    <input  matInput formControlName="dateEntree"  required
                    [matDatepicker]="dateEntree">
                    <mat-datepicker-toggle matSuffix [for]="dateEntree"></mat-datepicker-toggle>
                    <mat-datepicker #dateEntree></mat-datepicker>
                    <mat-error>
                      Ce champs est obligatoire 
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="10%">
                  <mat-form-field  appearance="outline">
                    <mat-label>Date sortie</mat-label>
                    <input  matInput formControlName="dateSortie"  required
                    [matDatepicker]="dateSortie">
                    <mat-datepicker-toggle matSuffix [for]="dateSortie"></mat-datepicker-toggle>
                    <mat-datepicker #dateSortie></mat-datepicker>
                    <mat-error>
                      Ce champs est obligatoire 
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field   appearance="outline">
                    <mat-label>Motif sortie</mat-label>
                    <mat-select formControlName="motifSortie" required>
                      <mat-option value="EXPIRATION_DE_CONTRAT">Expiration contrat</mat-option>
                      <mat-option value="DEMISSION">Demission</mat-option>
                      <mat-option value="LICENCIEMENT">Licenciement</mat-option>
                      <mat-option value="ABANDON_DE_POSTE">Abandon de poste</mat-option>
                      <mat-option value="MUTATION">Mutation</mat-option>
                      <mat-option value="RETRAITE">Retraite</mat-option>
                      <mat-option value="DECES">Deces</mat-option>
                    </mat-select>
                    <!-- <mat-icon matSuffix>perm_identity</mat-icon> -->
                    <mat-error>Ce champ est obligatoire</mat-error>
                  </mat-form-field>
                </div>
              <div fxLayout="row" fxLayoutGap="10%">
                <mat-form-field   appearance="outline">
                    <mat-label>Nombre de jour</mat-label>
                    <input formControlName="nombreJours1" matInput required/>
                    <!-- <mat-icon matSuffix>email</mat-icon> -->
                 <mat-error>Ce champ est obligatoire</mat-error> 
                </mat-form-field>
                <mat-form-field   appearance="outline">
                  <mat-label>Nombre d'heure</mat-label>
                  <input formControlName="nombreHeures1" matInput required/>
                  <!-- <mat-icon matSuffix>email</mat-icon> -->
               <mat-error>Ce champ est obligatoire</mat-error> 
              </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutGap="10%">
                <mat-form-field   appearance="outline">
                  <mat-label>Temps de travail</mat-label>
                  <mat-select formControlName="motifSortie" required>
                    <mat-option value="TPS_PARTIEL">Temps partiel</mat-option>
                    <mat-option value="TPS_PLEIN">Temps plein</mat-option>
                    <mat-option value="LICENCIEMENT">Licenciement</mat-option>
                    <mat-option value="ABANDON_DE_POSTE">Abandon de poste</mat-option>
                    <mat-option value="MUTATION">Mutation</mat-option>
                    <mat-option value="RETRAITE">Retraite</mat-option>
                    <mat-option value="DECES">Deces</mat-option>
                  </mat-select>
                  <!-- <mat-icon matSuffix>perm_identity</mat-icon> -->
                  <mat-error>Ce champ est obligatoire</mat-error>
                </mat-form-field>
              </div>
                <div fxLayoutAlign="end" fxLayoutGap="10%">
                  <button mat-raised-button mat-button matStepperPrevious>Precedent</button>
                  <button  class="submit-button" mat-button matStepperNext>Suivant</button>
                </div>
              </mat-step>
              <mat-step class="confirmation" 
               label="Confirmation" state="confirmation">
               <div fxLayoutAlign="end" fxLayoutGap="10%">
                <button mat-raised-button mat-button matStepperPrevious>Precedent</button>
                <button  class="submit-button" mat-button matStepperNext>Envoyer</button>
              </div>
              </mat-step>
              
              <ng-template matStepperIcon="genInfo">
               <mat-icon>create_new_folder</mat-icon>
             </ng-template>
             <ng-template matStepperIcon="synthese">
               <mat-icon>library_books</mat-icon>
             </ng-template> 
             <ng-template matStepperIcon="infoSalList">
               <mat-icon>person_outlined</mat-icon>
             </ng-template>
             <ng-template matStepperIcon="confirmation">
               <mat-icon>done_all</mat-icon>
             </ng-template>
            
              </mat-horizontal-stepper>  
        </form>
</div>
