/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.top_line mat-toolbar{
    max-height:3px;
    background-color: rgb(255, 104, 49) ;
    border-radius: 0;
}
mat-form-field mat-icon{
    color:#dbdbdb;
}
.details{
    color:rgb(255, 104, 49) ;
    font-size: 12px;
    cursor:pointer;
}
.details mat-icon{
    margin-top:2px;
    font-size: 14px;
}
button:focus, button:active:focus, button.active:focus {
    outline: none !important;
    outline-style: none !important;
    }
    
/* .submit-button{
        background-color: rgb(255, 104, 49);
        color:#ffffff;
        display:inline-block;
        vertical-align:middle;
           width: 100%;  
         font-size:15px;
         color:#ffffff;
         height: 40px;
         border-radius: 25px ;
} */

table td  .mat-mini-fab{
    max-width: 30px;
    max-height: 30px;
  }
  table td  .mat-icon{
   font-size: 14px;
  }
  table td  .mat-mini-fab{
  background-color: #f2f2f2;
  box-shadow: none;
  }
  table td  .edit{
    color: #0aca04;;
  }
  table td  .edit{
    color: #0aca04;;
  }
  table td  .delete{
    color: rgb(187, 2, 18);
  }
  table th{
   /*  font-weight: bold; */
    /* color:#999999; */
  }