

.card_portail{
    top: 110px;
   
}
.login{
    padding: 0;
    top: 70px;
   
}
.loginForm{
    margin-top:-20px;
}
.login .mat-card-header{
    background-color: rgb(255, 104, 49);
    color:#ffffff;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}
mat-card{
    width: 100%;
}
h4{
    text-align: center;
    color:#666666;
}

span{
    text-align: center;
    color:#808080;
}
.welcome{
    margin-top:20px;
}

.back_page{
    /* background-color: #f6f6f6; */
    background-color: #f5f5f6f3;
}
.toolbar{
    margin-top:50px;
   left:100px;
   border: 2x solid #706f6f;
   position: relative;

   
}
.card_portail mat-card-header{
    border-bottom: 2px solid rgb(255, 104, 49);;
}

.card_title{
    color:#ffffff;
    }
.mat-toolbar{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.toolbar-header{
    background-color: rgb(255, 104, 49);
}

img{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px rgb(109, 109, 109);
}
.event-form{
    background-color: #ffffff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    min-height: 300px;
    max-height: 300px;
}
.mat-raised-button{
    margin-bottom: 30px;
}
.mat-form-field{
    margin-bottom:-20px;
    padding:20px;
}

mat-card-header strong{
  line-height: 20px;
}

.card_info{
    padding: 0;
    border-radius: 5px;
    height: 300px;
}
.card_info mat-card-header{
    min-height: 70px;  
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0;
}
 .icon_header{
    color:#e2e2e2;
    font-size:17px;
    margin-left: 87px;
    margin-top: 3px;
}
::ng-deep .card_info .mat-divider {
    display: block;
    margin: 0;
    border-top-width:2px;
    border-top-style: solid;
    color:rgb(255, 104, 49);
}
::ng-deep .card_info .mat-divider:before {
    content: "";
    position: absolute;
    width: 30%;
    height: 1px;
    top: -3px;
    left:  0;
    /* border-bottom: 5px solid rgb(255, 104, 49)!important; */
    border-radius: 5px;
    
}
::ng-deep .card_info1 .mat-divider:before {
    border-bottom:5px solid #034eafc0!important;
}
.card_info1 mat-card-content mat-icon{
   color: #034eafc0!important;;
   text-shadow: 2px 2px 2px #e7e7e7;
}

.card_info1 h4{
    color:#034eafc0!important;;
}
::ng-deep .card_info2 .mat-divider:before {
    border-bottom:5px solid #58e435c5!important;
}
.card_info2 mat-card-content mat-icon{
   color: #58e435c5!important;;
   text-shadow: 2px 2px 2px #e7e7e7;
}
.card_info2 h4{
    color:#58e435c5!important;;
}
::ng-deep .card_info3 .mat-divider:before {
    border-bottom:5px solid #e01818c5!important;
}
.card_info3 mat-card-content mat-icon{
    color: #e01818c5!important;;
    text-shadow: 2px 2px 2px #e7e7e7;
 }
 .card_info3 h4{
     color:#e01818c5!important;;
 }
 /* .card_info1 mat-card-content span:before{
    content: '';
    height: 15%;
    position: absolute;
    border: 1px solid #034eafc0;
    top: 160px;
    left: 5px; 
    border-radius: 5px;
}

.card_info2 mat-card-content span:before{
    content: '';
    height: 15%;
    position: absolute;
    border: .5px solid #58e435c5!important;
    top: 160px;
    left: 10px; 
}
.card_info3 mat-card-content span:before{
    content: '';
    height: 15%;
    position: absolute;
    border: .5px solid #e01818c5!important;
    top: 160px;
    left: 10px; 
} */
 .card_info mat-card-content mat-icon{
    margin: auto;
    margin-top: 10px;
    background: #f9f9f9;; 
    color:#e2e2e2;
    padding: 13px;
    font-size: 30px;
    border-radius: 50%;
    padding-right: 43px;
    padding-bottom: 45px;
     border: 1px solid #dddddd; 
   } 
  
.card_info mat-card-content mat-icon:before{
    content: "";
    position: absolute;
    width: 20%;
    height: 1px;
    top: 110px;
    left: 15%;
    border-bottom: 1px solid #dddddd!important;
    border-radius: 5px;
}
.card_info mat-card-content mat-icon:after{
    content: "";
    position: absolute;
    width: 20%;
    height: 1px;
    top: 110px;
    right:  15%;
    border-bottom: 1px solid #dddddd!important;
    border-radius: 5px;
}
.card_info h4{
    padding-top:16px;
    /* color:#666666; */
}
.card_info mat-card-content span{
    text-align: left;
    color: #808080;
    margin-top:20px;
}
.card_info1 h4{
  /*  color: #0a3a79a9; */
  color: #033f8dc0
}
.card_info mat-card-content span:before{

}
.submit-button{
    width: 80%;
    background-color: rgb(255, 104, 49);
    color:#ffffff;
    margin-top:20px;
}
.submit-button span{
    position: relative;
    margin-top:30px;
    background-color: rgb(255, 104, 49);
}

.conn{
    color:rgb(255, 104, 49);
    cursor:pointer;
    font-weight: 300;
}
.inscrit{
    color:#adadade8;
}

.mat-raised-button{
    width: 80%;
    border:2px solid;
    border-color: rgb(255, 104, 49);
    background-color: rgb(255, 104, 49);
    color:#ffffff;
}

.forget_pw{
    margin-top:-20px;
    color:rgb(255, 104, 49);
    cursor: pointer;
}

.details{
    color:rgb(255, 104, 49); 
}

.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
    
   }
   .scroll-to-top .mat-raised-button{
       border:1px solid rgb(255, 104, 49);
       background-color: rgb(255, 104, 49);
       opacity: .7;
   }
 

  
   .show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
   }
   .title{
    color:#c8c8c8e8;
    margin-top:-20px;
    margin-left: -90px;
}
.titleforum{
    font-size:14px;
}
.imgLogo{
    margin-left:10px; 
    margin-top:10px;  
    margin-bottom: 20px;
}

.mat-progress-spinner::ng-deep circle {
    stroke: #ffffff!important;
}

.mat-form-field{
    max-width: 100%;
    min-width: 100%;
   }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color:#f8f8f8;
    border: #e6e6e6 1px solid;
    border-radius: 5px;
   } 
   ::ng-deep .mat-form-field.mat-focused .mat-form-field-outline {
    color: #999999!important;
   }  
   ::ng-deep .mat-form-field-appearance-outline.mat-focused 
   .mat-form-field-outline-thick {
   color: #999999!important;
   }
   ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: rgba(0,0,0,.6)!important;
   }
   ::ng-deep .mat-input-element {
    caret-color: rgba(0,0,0,.6)!important;
   }
   