
<div >
  <app-header></app-header>
</div> 
  <div class="top_line">
    <mat-toolbar></mat-toolbar>
</div>
<div class="back_page">
<div fxLayout="row" class="pl-5 pr-5">
  <div fxFlex="65" class="backImg" >
    <img class="mat-elevation-z8" src="assets/images/homeCSS.jpg" 
    height="600" width="900">
   
  </div>
  <div fxFlex fxFlex="35" *ngIf="connection">
    <mat-card class="mat-elevation-z8 login">
      <mat-card-header class="mb-1" fxLayout="row" 
      fxLayoutAlign="space-between center">
        <h4 class="pt-2 card_title" >Connexion</h4>
        <button mat-icon-button (click)="close_conn()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="column">
        <div >
        <img class="imgLogo"  src="assets/images/logoCSS.png" 
        height="55px" width="105px">
        <img src="assets/images/logoIPRES.png" 
        height="55" width="85">
        </div>
         <h4 class="title">Connection e-portail CSS</h4>
        </div>
        <div>
        <form [formGroup]="loginForm" class="loginForm"  fxLayout="column" fxFlex>
          <mat-form-field fxFlex="70" appearance="outline">
            <mat-label>Nom de l'utilisateur</mat-label>
            <input matInput  formControlName="username" required />
            <mat-icon matSuffix>person_outlined</mat-icon>
            <mat-error>Saisir votre nom d'utilsateur</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="70" appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input formControlName="password" matInput type="password" required />
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error>Saisir votre mot de passe </mat-error>
            <mat-hint *ngIf="errorMess" class="text-danger">Veiller verifier vos identifiant</mat-hint>
          </mat-form-field>
          <!-- </div> -->
          <div fxLayout="column" fxLayoutAlign="center center">
            <button (click)="authenticate()" fxLayoutAlign="center" mat-raised-button 
            class="submit-button1" aria-label="CONNEXION">
             <div *ngIf="!loader"> Connexion </div>
             <div>  
               <mat-spinner *ngIf="loader" strokeWidth="2" [diameter]="34" ></mat-spinner>
            </div> 
            </button>
             <span routerLink="/motPasseOublie" fxLayoutAlign="center center" 
             class="forget_pw mb-5">Mot de passe oublié 
             <mat-icon>arrow_right_alt</mat-icon> </span>
          </div>
        </form>
      </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="30" *ngIf="newAccout">
    <mat-card class="mat-elevation-z8 card_portail wow fadeInDown" data-wow-delay="1s">
      <mat-card-header>
        <h4>Portail au service de la sécurité sociale au Senegal</h4>
      </mat-card-header>
      <mat-card-content class="pt-1">
        <div fxLayout  fxLayout="column" >
        <span fxFlex="100">Imatriculer votre entreprise et déclarez les salaires de vos employés
          a travers une plateforme unique sans vous déplacer.
        </span>
        <div fxFlex="100" fxLayoutAlign="center center">
          <button routerLink="/creationCompte" mat-raised-button 
          class="submit-button" aria-label="CONNEXION"
              fxLayoutAlign="center center">
              Créer un compte
            </button>
        </div>
      </div>
      <div>
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          <span class="inscrit">Etes-vous dejà inscrit ?</span>
          <strong class="conn" fxLayoutAlign="center" (click)="conn_account()">
            Connectez-vous <mat-icon>arrow_right_alt</mat-icon></strong>
        </div>
      </div>
      </mat-card-content>
    </mat-card>
  </div>

  
</div>

<div class="container" fxLayout="column"  class="mt-5 mb-5">
  
  <div class="container"  fxLayout="column">
    <h4>
      Des informations pour mieux vous aider à comprendre votre statut
    </h4>
    <span class="info">Trouver des informations par rapports à votre 
      statut et des documents importants à fournir.
    </span>
    <mat-divider class="inset mt-5"></mat-divider>
  </div>
  
  <div class="container mt-5"  fxLayout="row" fxLayoutGap="2%">
  <div fxFlex="33">
    <mat-card class="card_info card_info1 mat-elevation-z4 ">
      
      <mat-card-header >
        <h4>
          Espace employeur
        </h4>
      <div fxLayoutAlign="end center"> 
         <mat-icon  class="icon_header">keyboard_return</mat-icon>
      </div>
      </mat-card-header>
      <mat-divider></mat-divider>
     
 
      <mat-card-content class="container" fxLayout="column">
        <mat-icon class="person_mat-icon">person_outlined</mat-icon>
        <span>Informations et tous les documents à fournir pour toutes demarches
          de l'employeur
        </span>
        <span class="details pt-3" fxLayoutAlign="end">Voire les détails 
         <!--  <mat-icon>arrow_right_alt</mat-icon>--></span> 
      </mat-card-content>
    </mat-card>
  </div>
  <!-- <mat-divider [vertical]="true"></mat-divider> -->
  <div fxFlex="33">
    <mat-card class="card_info card_info2 mat-elevation-z4">
      <mat-card-header>
        <h4>
          Espace salarié
        </h4>
        <div fxLayoutAlign="end center"> 
          <mat-icon  class="icon_header">keyboard_return</mat-icon>
       </div>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="container" fxLayout="column">
        <mat-icon class="person_mat-icon">money</mat-icon>
        <span>Droits et devoirs de salarié, informations retraites et 
          documents à fournir
        </span>
        <span class="details pt-3" fxLayoutAlign="end">Voire les détails <!-- <mat-icon>arrow_right_alt</mat-icon> --></span> 
      </mat-card-content>
    </mat-card>
  </div>
  <!-- <mat-divider [vertical]="true"></mat-divider> -->
  <div fxFlex="33">
    <mat-card class="card_info card_info3 mat-elevation-z4">
      <mat-card-header>
        <h4>
          Espace allocataire
        </h4>
        <div fxLayoutAlign="end center"> 
          <mat-icon  class="icon_header">keyboard_return</mat-icon>
       </div>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="container" fxLayout="column" >
        <mat-icon class="person_mat-icon">people_outline</mat-icon>
        <span>Informations et document à fournir pour allocataires
        </span>
        <span class="details pt-3" fxLayoutAlign="end">Voire les détails <!-- <mat-icon>arrow_right_alt</mat-icon> --></span> 
      </mat-card-content>
    </mat-card>
  </div>
   </div>
</div>
<div  fxLayout="row" fxLayoutGap="5%" class="mt-5 mb-5">
  <div fxFlex="60" fxLayout="column">
     <mat-card class="mat-elevation-z8 ml-5">
      <mat-card-title>
        <mat-icon style="color:#9c9c9c85;font-size: 35px;">help_outline</mat-icon>
        <h2 style="color:rgb(255, 104, 49);">Foire aux questions 
          </h2>
          <span class="titleforum">Trouver des reponses aux questions frequemment pose</span>
      </mat-card-title> 
       <mat-card-content>
        <mat-accordion>
        <!--   <mat-expansion-panel  (opened)="panelOpenState2 = true"
        (closed)="panelOpenState2 = false"> -->
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
               <h5 [ngStyle]="{'color':panelOpenState1 === true ? 'rgb(255, 104, 49);' : '' }"> Comment adherer a l'IPRES ? </h5>
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
        
           <span>Des que votre entreprise est contitue et que vous avec 
             emabauche un nouveau salarie vous devez venir a l'IPRES faire votre adhesion.
           </span>
          </mat-expansion-panel>
          <!-- <mat-expansion-panel  (opened)="panelOpenState2 = true"
          (closed)="panelOpenState2 = false"> -->
          <mat-expansion-panel  >
          <mat-expansion-panel-header>
            <mat-panel-title>
             <h5> Qu'est qu'un participant ? </h5>
            </mat-panel-title>
            <mat-panel-description>
             
            </mat-panel-description>
          </mat-expansion-panel-header>
          <span>Response</span>
        </mat-expansion-panel>
       <!--  <mat-expansion-panel  (opened)="panelOpenState2 = true"
        (closed)="panelOpenState2 = false"> -->
        <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
           <h5> Comment faire les cotisation ? </h5>
          </mat-panel-title>
          <mat-panel-description>
           
          </mat-panel-description>
        </mat-expansion-panel-header>
        <span>Response</span>
      </mat-expansion-panel>
      <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         <h5> Comment faire les cotisation ? </h5>
        </mat-panel-title>
        <mat-panel-description>
         
        </mat-panel-description>
      </mat-expansion-panel-header>
      <span>Response</span>
    </mat-expansion-panel>
    <mat-expansion-panel  >
    <mat-expansion-panel-header>
      <mat-panel-title>
       <h5> Comment obtenir son releve de points 
         et sa carte affilisation ? </h5>
      </mat-panel-title>
      <mat-panel-description>
       
      </mat-panel-description>
    </mat-expansion-panel-header>
    <span>Response</span>
  </mat-expansion-panel>

            
        </mat-accordion>
       </mat-card-content>
     </mat-card>
  </div>
  <div fxFlex="30" fxLayout="column">
    <mat-card class="mat-elevation-z8 mr-5">
      <mat-card-title>
        <mat-icon style="color:#9c9c9c85;font-size: 35px;">folder_open</mat-icon>
        <h2 style="color:rgb(255, 104, 49);">Document a telecharger
          </h2>
         
      </mat-card-title> 
       <mat-card-content>
         <div>
         <span>Revalorisation des affaire familiale</span>
        </div>
          <mat-divider inset="true"></mat-divider>
          <div class="mt-2">
            <span>Statut de l'integration de prevoyance retraite de Senegal IPRES </span>
           </div>
           <mat-divider inset="true"></mat-divider>
           <div class="mt-2">
            <span>Loi n 75-50 du 3 Avril relative au institutions de prevoyance sociale </span>
           </div>
           <mat-divider inset="true"></mat-divider>
           <div class="mt-2">
            <span>Demande d'assurance volontaire </span>
           </div>
           <mat-divider inset="true"></mat-divider>
       </mat-card-content>
      
    </mat-card>
  </div>
</div>
<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
  <button mat-raised-button (click)="scrollToTop()">
       <mat-icon>keyboard_arrow_up</mat-icon> 
  </button>
</div>
</div>
