

.card_portail{
    top: 110px;
   
}
.login{
    padding: 0;
    top: 70px;
   
}
.loginForm{
    margin-top:-20px;
}
.login .mat-card-header{
    background-color: rgb(255, 104, 49);
    color:#ffffff;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}
mat-card{
    width: 100%;
}
h4{
    text-align: center;
    color:#666666;
}

span{
    color:#808080;
}
.welcome{
    margin-top:20px;
}

.back_page{
    /* background-color: #f6f6f6; */
    background-color:  #F2F2F2;
    padding: 5px;

}
.toolbar{
    margin-top:50px;
   left:100px;
   border: 2x solid #706f6f;
   position: relative;

   
}
.card_portail mat-card-header{
    border-bottom: 2px solid rgb(255, 104, 49);;
}

.card_title{
    color:#ffffff;
    }
.mat-toolbar{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.toolbar-header{
    background-color: rgb(255, 104, 49);
}

img{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px rgb(109, 109, 109);
}
.event-form{
    background-color: #ffffff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    min-height: 300px;
    max-height: 300px;
}
.mat-raised-button{
    margin-bottom: 30px;
}
.mat-form-field{
    margin-bottom:-20px;
    padding:20px;
}

mat-card-header strong{
  line-height: 20px;
}

.card_info{
    padding: 0;
}
.card_info mat-card-header{
    background-color:#a7acf6da;
    min-height: 100px;
    max-height: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card_info h2{
    padding-top:20px;
    color:#2b36ceda;
}
.card_info mat-card-content span{
    text-align: center;
   
}

.card_info1 mat-card-header{
    background-color:#9ff689a9;
    min-height: 100px;
    max-height: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card_info1 h2{
    padding-top:20px;
    color:#229904;
}
.card_info1 mat-card-content span{
    text-align: center;
   
}
.card_info1{ 
    padding:0;  
}
.card_info1 mat-card-header{
    background-color:#9ff689a9;
    min-height: 100px;
    max-height: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.card_info1 h2{
    padding-top:20px;
    color:#229904;
}
.card_info1 mat-card-content span{
    text-align: center;
    
}
.card_info1{ 
    padding: 0;
    
}
.card_info1 mat-card-header{
    background-color:#9ff689a9;
    min-height: 100px;
    max-height: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.card_info1 h2{
    padding-top:20px;
    color:#229904;
}



.card_info1 mat-card-header{
    background-color:#9ff689a9;
    min-height: 100px;
    max-height: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;  
}

.card_info2 h2{
    padding-top:20px;
    color: #b80d0d;;
}
.card_info2 mat-card-content span{
    text-align: center;
   
}
.card_info2{
    padding:0;    
}
.card_info2 mat-card-header{
    background-color:#f55454d5;
    min-height: 100px;
    max-height: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.submit-button{
    width: 80%;
    background-color: rgb(255, 104, 49);
    color:#ffffff;
    margin-top:20px;
}
.submit-button span{
    position: relative;
    margin-top:30px;
    background-color: rgb(255, 104, 49);
}

.conn{
    color:rgb(255, 104, 49);
    cursor:pointer;
    font-weight: 300;
}
.inscrit{
    color:#adadade8;
}

.mat-raised-button{
    width: 80%;
    border:2px solid;
    border-color: rgb(255, 104, 49);
    background-color: rgb(255, 104, 49);
    color:#ffffff;
}

.forget_pw{
    margin-top:-20px;
    color:rgb(255, 104, 49);
    cursor: pointer;
}

.details{
    color:rgb(255, 104, 49); 
}

.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
    
   }
   .scroll-to-top .mat-raised-button{
       border:1px solid rgb(255, 104, 49);
       background-color: rgb(255, 104, 49);
       opacity: .7;
   }
 

  
   .show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
   }
   .title{
    color:#c8c8c8e8;
    margin-top:-20px;
    margin-left: -90px;
}
.titleforum{
    font-size:14px;
}
.imgLogo{
    margin-left:10px; 
    margin-top:10px;  
    margin-bottom: 20px;
}

.mat-progress-spinner::ng-deep circle {
    stroke: #ffffff!important;
}

.mat-form-field{
    max-width: 100%;
    min-width: 100%;
   }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color:#f8f8f8;
    border: #e6e6e6 1px solid;
    border-radius: 5px;
   } 
   ::ng-deep .mat-form-field.mat-focused .mat-form-field-outline {
    color: #999999!important;
    background-color: #ffffff;
   }
   ::ng-deep .mat-form-field-appearance-outline.mat-focused 
   .mat-form-field-outline-thick {
   color: #999999!important;
   }
   ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: rgba(0,0,0,.6)!important;
   }
   ::ng-deep .mat-input-element {
    caret-color: rgba(0,0,0,.6)!important;
   }
   


   .content-text-institution-top{
       width: 80%;
       margin:0 auto;
       background-color: rgb(255, 104, 49);
       color:white;
       padding:10px;
       border-top-left-radius: 10px;
       border-top-right-radius: 10px;
       box-shadow: 0px 0px 50px #ccc;
   }
   .content-text-institution-bottom{
    width: 80%;
    margin:0 auto;
    background-color: rgb(255, 104, 49);
    color:white;
    padding:10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 50px #ccc;
}

   .content-text-institution-bottom img,.content-text-institution-btopottom img{
       margin: 0 auto;
       opacity: 0.5;
   }



   .read-more-right{
       float: right;
       bottom: 10px !important;
       color:white;
       border:1px solid white;
       border-radius: 10px;
   }

   .read-more-right:hover{
    background-color: white;
    color:rgb(255, 104, 49);
    border:1px solid rgb(255, 104, 49);
    border-radius: 15px;

}

.read-more-left:hover{
    background-color: white;
    color:rgb(255, 104, 49);
    border:1px solid rgb(255, 104, 49);
    border-radius: 15px;

}



.read-more-left{
    float: left;
    bottom: 10px !important;
    color:white;
    border:1px solid white;

}

.img-css{
    float: right;
}


.content-color-spacing{
    height: 6px !important;
    width: 80%;
    margin:0 auto;
}

.vert{
    background-color: green;
   
}

.jaune{
    background-color: yellow;
    
}
.rouge{
    background-color: red;
}

.content-espaces{
    width: 100%;
    padding: 20px;
    margin: 0px auto;
    background-color: #eee;
}

.content-espaces .col-1{
    padding: 10px;
    font-size: 18px;
   
}

.content-espaces .col-1:hover{
    padding: 10px;
    box-shadow: 0px 0px 20px #bbb;
    border-radius: 5px;
}


.spacing{
    margin: 20px;
}

.text-white{
    color:white;
}
.bg-white{
    background-color: white;
    color:black;
}


.text-center{
    text-align:center;
}


.content-espace-connexion div{
    background-color: rgb(255, 104, 49);
    color: white;
    padding: 10px;
    margin: 15px;
    border-radius:5px;
}


.content-espace-connexion div button{
    color:white;
    border:1px solid white;
    border-radius: 15px;
}


.btn-orange{
    background-color: rgb(255, 104, 49);
   
}






/*     STYLE HOMEPAGE     */


* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* body { font-family: sans-serif; } */

.gallery {
  background: #FFF;
}

.gallery-cell {
  width: 20%;
  height: 150px;
  margin-right: 10px;
  background: #bbb;
  opacity: 0.7;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
 /* content: counter(gallery-cell); */
  line-height: 150px;
  font-size: 80px;
  color: white;
}

.more-btn{
  color: rgb(255, 104, 49);
  text-decoration: none;
}

.more-btn i{
  font-size: 18px;
  padding: 5px;
}
.more-btn span{
  font-size: 20px;
  color: rgb(255, 104, 49);
}









