<mat-toolbar class="toolbar-header"> 
  <div class="container" fxFlex fxLayout="row" fxLayoutGap="10%">
  <div fxFlex="80%">
   <img src="assets/images/logoCSS.png" class="mt-2" height="50" width="100" alt="">
   <img src="assets/images/logoIPRES.png" class="mt-2" height="50" width="100" alt="">
  </div>
  <div *ngIf="checkConn" fxFlex="20%"  fxLayout="column" class="mt-2">
     <button  mat-button [matMenuTriggerFor]="menu" >
      {{prenomUser}}  {{nomUser}} 
     </button>
     <!-- <mat-icon class="keyboard">keyboard_arrow_down</mat-icon></button> -->
     <mat-menu #menu="matMenu">
       <button mat-menu-item (click)="goToProfil()"><mat-icon>person_outlined</mat-icon>Mon profil</button>
       <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>Deconnexion</button>
    </mat-menu>                           
  </div> 
</div>
</mat-toolbar> 

<mat-divider></mat-divider>
<!--  -->
<!-- <perfect-scrollbar class="scroller" style="z-index:1001;position: relative; max-height: 600px;">
 -->  
 <mat-drawer-container class="example-container mat-typography" autosize>
    <mat-drawer #drawer mode="side" disableClose="true" opened="true">
      <button mat-mini-fab (click)="isExpanded = !isExpanded" style="margin: 10px;">
        <mat-icon aria-label="Menu">menu</mat-icon>
      </button>
      <mat-nav-list>
        <mat-list-item (click)="openImmatPopup(choiceTemplate)">
          <mat-icon mat-list-icon>person</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Immatriculation</h4>
        </mat-list-item>
        <mat-list-item (click)="openImmatPopup(choiceTemplate)">
          <mat-icon mat-list-icon>assignment</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Déclaration</h4>
        </mat-list-item>
       <!-- <mat-list-item>
          <mat-icon mat-list-icon>domain</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Documents</h4>
        </mat-list-item>
        -->
        <mat-list-item (click)="openPaiementDialog()">
          <mat-icon mat-list-icon>attach_money</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Paiements</h4>
        </mat-list-item>
        <mat-list-item (click)="openDemandeAttestationDialog()">
        <mat-icon mat-list-icon >cached</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Statut & Suivi demande</h4>
        </mat-list-item>
       <!--  <mat-list-item>
          <mat-icon mat-list-icon>attach_money</mat-icon>
          <h4 mat-line (click)="openPaiementDialog()" *ngIf="isExpanded">Mes Paiements</h4>
        </mat-list-item> -->
        <mat-list-item>
          <mat-icon mat-list-icon>folder_shared</mat-icon>
          <h4 mat-line *ngIf="isExpanded">Paramètres</h4>
        </mat-list-item>      
      </mat-nav-list>
    </mat-drawer>
    <div class="example-sidenav-content">
      <div fxLayout="column">
        <div class="container" fxLayoutAlign="start start">
        <h2  class="mt-2">Espace employeur</h2>
        </div>  
        <mat-divider class="inset mb-2"></mat-divider>
        <div class="container mb-5" fxLayout="row" fxLayoutAlign="end start">
            <button  (click)="openImmatPopup(choiceTemplate)"  class="submit-button" mat-raised-button><mat-icon>add</mat-icon> Immatriculer un employeur</button>
        </div>  
        <div class="container ml-5" fxLayout="row wrap"  fxLayoutGap="5%">
          <mat-card class="welcome" *ngIf="welcome_card">
            <mat-card-content fxLayout="column" fxLayoutAlign="space-between center">
              <div>
                <h1>Bienvenue dans votre espace !</h1> 
              </div>
           <!--  <div>
              <h4>Immatrculer des employeurs, declarer des salaries, effectuez des 
                pres DNS, cotisations et des payements.
              </h4>
             </div>
             -->
            </mat-card-content>
          </mat-card>  
          <mat-card class="immatCard mt-3" *ngFor="let emp of listEmp; let i=index;">
            <mat-card-content fxLayoutAlign="space-between center">
              <mat-icon>person_outlined</mat-icon>
              <div class="immatCard_detail">
                <span fxLayout="row"><p>Raison sociale</p>&nbsp; | {{emp?.raisonSociale}} </span>
                <span fxLayout="row"><b>NINEA</b>&nbsp;<mat-toolbar>{{emp?.numeroIdentifiant}}</mat-toolbar> </span>
              <button (click)="getEmployer(i);openDeclarationDialog(emp)" mat-button class="small-submit">Déclarer</button>
                <a [routerLink]="['/espace-employer/',emp.id]">Voir dossier </a> 
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-drawer-container>

  <div>
    <ng-template #choiceTemplate>
      <h1 mat-dialog-title>Immatriculez</h1>
      <div mat-dialog-content>
        <mat-radio-group aria-label="Type d'immatriculation" fxFlex="column" fxFlex="row">
          <mat-radio-button (click)="openImmatDialog()">Nouvelle Immatriculation</mat-radio-button><br>
          <mat-radio-button (click)="openImmatDialogExist()"  value="true"  class="mt-1">Employeur Existant</mat-radio-button><br>
         <!--  <mat-radio-button (click)="openDeclarationDialog()"  value="true" >Declaration</mat-radio-button> -->    
        </mat-radio-group>
      </div>
  </ng-template>
  </div>
<!-- </perfect-scrollbar> -->